<div class="content">
    <div class="single">
        <div id="accounts">
            <section>
                <h1>Accounts</h1>

                <div class="content-border">
                    <% for (let account of accounts) { %>
                        <div class="account account-<%= account.id %>" data-account-id="<%= account.id %>">
                            <p>
                                <span>Name:</span>
                                <input type="text" class="relax-input" name="name" value="<%= account.name %>">
                            </p>
                            <p>
                                <span>Pass:</span>
                                <input type="text" class="relax-input" name="pass" value="<%= account.pass %>">
                            </p>

                            <fieldset>
                                <legend>Account markets:</legend>
                                <% if (account.markets.length) { %>
                                    <% for (let marketId of account.markets) { %>
                                        <a href="/admin/accounts/remove-market/<%= account.id %>/<%= marketId %>"><span title="Click to remove market:<%= marketId %>" class="flag-<%= marketId %>"></span></a>
                                    <% } %>
                                <% } else { %>
                                    <span>This account have no markets.</span>
                                <% } %>
                            </fieldset>

                            <div class="actions">
                                <a class="relax-button small" href="/admin/accounts/add-market/<%= account.id %>">Add markets</a>
                                <a class="relax-button small" href="/admin/accounts/test/<%= account.id %>">Test account</a>
                                <a class="relax-button small red" href="/admin/accounts/delete/<%= account.id %>">Delete account</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
</div>
