<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body id="admin">
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="worlds-sync">
                        <h1>Open Worlds</h1>

                        <% for (let world of openWorlds) { %>
                            <% const world_last_sync = world.last_sync ? new Date(world.last_sync) : 'Never' %>

                            <div class="world world-container" id="<%= world.world_id %>" data-market-id="<%= world.market %>" data-world-number="<%= world.num %>">
                                <div class="short-info">
                                    <p class="world-id">
                                        <span class="flag-<%= world.market %>"><%= world.market %><%= world.num %><% if (!world.open) { __append(' (Closed)') } -%></span>
                                    </p>
                                    <fieldset>
                                        <legend>Data sync:</legend>
                                        <p>Last time: <span class="last-data-sync-date"><% __append(world.last_sync ? formatDate(world.last_sync) : 'Never') %></span></p>
                                        <p>Last status: <span class="last-data-sync-status"><%= world.last_sync_status %></span></p>
                                    </fieldset>
                                    <fieldset>
                                        <legend>Achievements sync:</legend>
                                        <p>Last time: <span class="last-achievements-sync-date"><% __append(world.last_achievements_sync_date ? formatDate(world.last_achievements_sync_date) : 'never') %></span></p>
                                        <p>Last status: <span class="last-achievements-sync-status"><% __append(world.last_achievements_sync_status ? world.last_achievements_sync_status : '-') %></span></p>
                                    </fieldset>
                                </div>

                                <div class="actions">
                                    <ul>
                                        <% if (world.open) { -%>
                                            <li><a class="sync-data relax-button small" data-active="no" href="/admin/sync/data/<%= world.market %>/<%= world.num %>">Sync data</a></li>
                                            <li><a class="sync-achievements relax-button small" data-active="no" href="/admin/sync/achievements/<%= world.market %>/<%= world.num %>">Sync achievements</a></li>
                                        <% } -%>
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                    </section>
                </div>

                <div class="right">
                    <section>
                        <h1>Logging</h1>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/admin.js"></script>
    </body>
</html>
