<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body id="admin">
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section>
                        <h1>Open Worlds</h1>

                        <% for (let world of openWorlds) { %>
                            <% const world_last_sync = world.last_sync ? new Date(world.last_sync) : 'Never' %>

                            <div class="world world-container">
                                <div class="short-info">
                                    <p class="world-id">
                                        <span class="flag-<%= world.market %>"><%= world.market %><%= world.num %><% if (!world.open) { __append(' (Closed)') } -%></span>
                                    </p>
                                    <p>
                                        Last sync: <%= formatDate(world_last_sync) %>
                                    </p>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <% if (world.open) { -%>
                                            <li>
                                                <a href="/admin/scrapper/<%= world.market %>/<%= world.num %>"><button class="relax-button">Sync now</button></a>
                                            </li>
                                        <% } -%>
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                    </section>
                </div>

                <div class="right">
                    <section>
                        <h1>Logging</h1>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
