<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body class="admin-panel">
    <h1><%= title %></h1>

    <h2>Market <span class="flag-<%= market.id %>"></span><%= market.id %></h2>

    <section>
        <form action="/admin/add-market" method="POST">
            <input type="hidden" name="market" value="<%= market.id %>">

            <label>
                <span>accountName</span>
                <input type="text" name="accountName" minlength="4" maxlength="24" value="<%= market.account_name %>">
            </label>
            <label>
                <span>accountPassword</span>
                <input type="text" name="accountPassword" value="<%= market.account_password %>">
            </label>

            <div class="footer">
                <input type="submit" value="Save">
                <a href="/admin"><input type="button" value="Cancel"></a>
            </div>
        </form>
    </section>

    <script defer type="text/javascript" src="/javascripts/utils.js"></script>
    <script defer type="text/javascript" src="/javascripts/admin.js"></script>
  </body>
</html>
