<!DOCTYPE html>
<html lang="en">
    <%- include('./admin/head.ejs') %>
    <body id="admin">
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <ul class="sub-menu">
                <a href="/admin/sync"><li <% __append(subPage === 'sync' ? ' class="selected"' : '') %>>Sync</li></a>
                <a href="/admin/accounts"><li <% __append(subPage === 'accounts' ? ' class="selected"' : '') %>>Accounts</li></a>
            </ul>

            <%- include('./admin/' + subPage + '.ejs') %>
        </main>

        <%- include('./footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/admin.js"></script>
    </body>
</html>
