<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body id="admin">
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="worlds-sync">
                        <h1>Open Worlds</h1>

                        <% for (let world of openWorlds) { %>
                            <% const world_last_sync = world.last_sync ? new Date(world.last_sync) : 'Never' %>

                            <div class="world world-container" id="<%= world.world_id %>" data-market-id="<%= world.market %>" data-world-number="<%= world.num %>">
                                <div class="short-info">
                                    <p class="world-id">
                                        <span class="flag-<%= world.market %>"><%= world.market %><%= world.num %><% if (!world.open) { __append(' (Closed)') } -%></span>
                                    </p>
                                    <p>
                                        Last sync date:
                                        <span class="last-sync-date">
                                            <% if (world.last_sync) { %>
                                                <%= formatDate(world_last_sync) %>
                                            <% } else { %>
                                                Never
                                            <% } %>
                                        </span>
                                    </p>
                                    <p>Last sync status: <span class="last-sync-status"><%= world.last_sync_status %></span></p>
                                </div>
                                <div class="actions">
                                    <ul>
                                        <% if (world.open) { -%>
                                            <li>
                                                <a class="sync-now" href="/admin/scraper/<%= world.market %>/<%= world.num %>"><button class="relax-button small">Sync now</button></a>
                                            </li>
                                        <% } -%>
                                    </ul>
                                </div>
                            </div>
                        <% } %>
                    </section>
                </div>

                <div class="right">
                    <section>
                        <h1>Logging</h1>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script type="text/javascript" src="/javascripts/admin.js"></script>
    </body>
</html>
