<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/map.css' />
        <!-- <link rel='stylesheet' href='/stylesheets/autoComplete.css' /> -->
        <script type="text/javascript">
            const marketId = '<%= marketId %>'
            const worldNumber = <%= worldNumber %>
            const development = <%= development %>
            const worldName = '<%= worldName %>'
            const lastSync = <%= lastSync %>
            const mapShareId = <%= mapShareId %>
            const allWorlds = <%- allWorlds %>
        </script>
    </head>
    <body>
        <div id="map-wrapper">
            <div id="side-panel">
                <div id="all-worlds">
                    <div id="current-world" class="text-container">
                        <span class="flag flag-<%= marketId %>"></span>
                        <%= marketId %><%= worldNumber %>
                    </div>
                    <button id="change-world">change</button>
                </div>

                <div id="quick-jump">
                    <div id="quick-jump-coords" class="input">
                        x:<input type="text" id="quick-jump-x" placeholder="500">
                        y:<input type="text" id="quick-jump-y" placeholder="500">
                    </div>
                    <button id="quick-jump-go" class="red">go</button>
                </div>

                <input type="text" id="highlight-id" class="input" spellcheck="false" placeholder="search...">
                <ul id="highlight-items"></ul>

                <div id="map-share-wrapper">
                    <button id="map-save" class="">Save</button>
                    <button id="map-share" class="">Share</button>
                </div>
            </div>
            <div id="map"></div>
        </div>

        <div id="notif" class="hidden">
            <span id="notif-close"></span>
            <h1 id="notif-title"></h1>
            <div id="notif-wrapper">
                <p id="notif-content"></p>
                <a id="notif-link"></a>
            </div>
        </div>

        <div id="tooltip" class="box-border">
            <table>
                <colgroup>
                    <col width="50%">
                    <col width="50%">
                </colgroup>
                <tr>
                    <td>
                        <div>
                            <span class="icon village"></span>
                            <div>
                                <span class="title">Village</span>
                                <span class="village-name"></span> (<span class="village-x"></span>|<span class="village-y"></span>)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon points"></span>
                            <div>
                                <span class="title">Village Points</span>
                                <span class="village-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="icon player"></span>
                            <div>
                                <span class="title">Player Name</span>
                                <span class="player-name"></span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon points"></span>
                            <div>
                                <span class="title">Player Points</span>
                                <span class="player-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <span class="icon tribe"></span>
                            <div>
                                <span class="title">Tribe Name</span>
                                <span class="tribe-name"></span> (<span class="tribe-tag"></span>)
                            </div>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span class="icon tribe-points-x"></span>
                            <div>
                                <span class="title">Tribe Points</span>
                                <span class="tribe-points"></span>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="color-picker" class="box-border">
            <span class="close"></span>
            <table></table>
        </div>

        <div id="last-sync" class="text-container">
            <span>Last update:</span>
            <span id="last-sync-date"></span>
        </div>

        <div id="display-position" class="text-container">
            <span id="display-position-x">500</span>|<span id="display-position-y">500</span>
        </div>

        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/autoComplete.js"></script>
        <script type="text/javascript" src="/javascripts/maps.js"></script>
    </body>
</html>
