<table class="pagination">
    <colgroup>
        <col width="80px">
        <col width="100px">
        <col width="*">
        <col width="100px">
        <col width="80px">
    </colgroup>

    <% if (pagination.showGotoFirst) { -%>
        <td>
            <a class="page" href="/stats<%= pagination.path %>/">&lt;&lt;&lt; First</a>
        </td>
    <% } else { -%>
        <td></td>
    <% } -%>

    <% if (pagination.showGotoPrev) { -%>
        <td>
            <a class="page" href="/stats<%= pagination.path %>/page/<%= (pagination.current - 1) %>">&lt; Previous</a>
        </td>
    <% } else { -%>
        <td></td>
    <% } -%>

    <td>
        <% for (let i = pagination.start; i <= pagination.end; i++) { -%>
            <% if (i === pagination.current) { -%>
                <span class="page current"><a href="/stats<%= pagination.path %>/page/<%= i %>"><%= i %></a></span>
            <% } else { -%>
                <a class="page" href="/stats<%= pagination.path %>/page/<%= i %>"><%= i %></a>
            <% } -%>
        <% } -%>
    </td>

    <% if (pagination.showGotoNext) { -%>
        <td>
            <a class="page" href="/stats<%= pagination.path %>/page/<%= (pagination.current + 1) %>">Next &gt;</a>
        </td>
    <% } else { -%>
        <td></td>
    <% } -%>

    <% if (pagination.showGotoLast) { -%>
        <td>
            <a class="page" href="/stats<%= pagination.path %>/page/<%= pagination.last %>">Last &gt;&gt;&gt;</a>
        </td>
    <% } else { -%>
        <td></td>
    <% } -%>
</table>
