<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head-stats.ejs') %>
    <body>
        <header></header>
        <main class="content-border">
            <%- include('includes/navigation.ejs') %>

            <div class="content">
                <div class="single content-border">
                    <%- include('rankings/' + category + '.ejs') %>
                    <%- include('includes/pagination.ejs') %>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            const {
                marketId,
                worldNumber
            } = <%- JSON.stringify(exportValues) %>
        </script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
    </body>
</html>
