<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head-stats.ejs') %>
    <body>
        <header></header>
        <main class="content-border">
            <%- include('includes/navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="tribe">
                        <h2>Tribe profile</h2>

                        <div class="content-border">
                            <table>
                                <colgroup>
                                    <col width="50%">
                                    <col width="50%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td>Rank:</td>
                                        <td><%= formatNumbers(tribe.rank) %></td>
                                    </tr>
                                    <tr>
                                        <td>Name:</td>
                                        <td><%= tribe.name %></td>
                                    </tr>
                                    <tr>
                                        <td>Tag:</td>
                                        <td><%= tribe.tag %></td>
                                    </tr>
                                    <tr>
                                        <td>Villages:</td>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/villages"><%= formatNumbers(tribe.villages) %></a></td>
                                    </tr>
                                    <tr>
                                        <td>Points:</td>
                                        <td><%= formatNumbers(tribe.points) %></td>
                                    </tr>
                                    <tr>
                                        <td>Members:</td>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/members"><%= formatNumbers(tribe.members) %></a></td>
                                    </tr>
                                    <tr>
                                        <td>Bash Attack:</td>
                                        <td><%= formatNumbers(tribe.bash_points_off) %></td>
                                    </tr>
                                    <tr>
                                        <td>Bash Defense:</td>
                                        <td><%= formatNumbers(tribe.bash_points_def) %></td>
                                    </tr>
                                    <tr>
                                        <td>Average Points/Member:</td>
                                        <td><%= formatNumbers(tribe.points_per_member) %></td>
                                    </tr>
                                    <tr>
                                        <td>Average Points/Village:</td>
                                        <td><%= formatNumbers(tribe.points_per_villages) %></td>
                                    </tr>
                                    <tr>
                                        <td>Member Changes:</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <td>Village Conquers:</td>
                                        <td>x (+y-z)</td>
                                    </tr>
                                    <tr>
                                        <td>Best Rank:</td>
                                        <td><%= formatNumbers(tribe.best_rank) %></td>
                                    </tr>
                                    <tr>
                                        <td>Most Points:</td>
                                        <td><%= formatNumbers(tribe.best_points) %></td>
                                    </tr>
                                    <tr>
                                        <td>Most Villages:</td>
                                        <td><%= formatNumbers(tribe.best_villages) %></td>
                                    </tr>
                                    <tr>
                                        <td>First seen:</td>
                                        <td><%= formatDate(tribe.first_seen) %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/history">View tribe history</a>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
