<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head-stats.ejs') %>
    <body>
        <header></header>
        <main class="content-border">
            <%- include('includes/navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="search">
                        <h2>Search</h2>

                        <div class="content-border">
                            <ul class="content-menu" id="search-categories">
                               <li data-search-category="players" class="selected">Players</li>
                               <li data-search-category="tribes">Tribes</li>
                               <li data-search-category="villages">Villages</li>
                            </ul>
                            <div class="wrapper">
                                <form method="POST" action="/stats/<%= marketId %>/<%= world.num %>/search/">
                                    <input type="text" id="search-input" class="input" name="query" autocomplete="off" maxlength="20" minlength="3">
                                    <input type="submit" value="Search">
                                    <input type="hidden" id="search-category" name="category" value="players">
                                </form>
                            </div>
                        </div>
                    </section>

                    <section id="tribes">
                        <h2>Tribes</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="50px">
                                    <col width="*">
                                    <col width="50px">
                                    <col width="50px">
                                    <% if (world.config.victory_points) { -%>
                                        <col width="40px">
                                    <% } -%>
                                    <col width="50px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Tribe</th>
                                        <th>Members</th>
                                        <th>Points</th>
                                        <% if (world.config.victory_points) { -%>
                                            <th title="Victory Points">VP</th>
                                        <% } -%>
                                        <th>Villages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let tribe of tribes) { %>
                                        <tr data-id="<%= tribe.id %>" data-highlight-type="tribes">
                                            <td><%= tribe.rank %></td>
                                            <td>
                                                <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                                                <% if (tribe.rank < 4) { %>
                                                    <div class="top-colors"></div>
                                                <% } %>
                                            </td>
                                            <td><%= formatNumbers(tribe.members) %></td>
                                            <td><%= formatNumbers(tribe.points) %></td>

                                            <% if (world.config.victory_points) { -%>
                                                <td><%= formatNumbers(tribe.victory_points) %></td>
                                            <% } -%>

                                            <td><%= formatNumbers(tribe.villages) %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/ranking/tribes/">View complete tribes ranking</a>
                        </div>
                    </section>

                    <section id="players">
                        <h2>Players</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="50px">
                                    <col width="*">
                                    <col width="50px">
                                    <col width="50px">
                                    <% if (world.config.victory_points) { -%>
                                        <col width="40px">
                                    <% } -%>
                                    <col width="50px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Player</th>
                                        <th>Tribe</th>
                                        <th>Points</th>
                                        <% if (world.config.victory_points) { -%>
                                            <th title="Victory Points">VP</th>
                                        <% } -%>
                                        <th>Villages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let player of players) { %>
                                        <tr data-id="<%= player.id %>" data-highlight-type="players">
                                            <td><%= player.rank %></td>
                                            <td><a href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.id %>"><%= player.name %></a></td>
                                            
                                            <% if (player.tribe_id) { -%>
                                                <td><a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= player.tribe_id %>"><%= player.tribe_tag %></a></td>
                                            <% } else { -%>
                                                <td>-</td>
                                            <% } -%>

                                            <td><%= formatNumbers(player.points) %></td>

                                            <% if (world.config.victory_points) { -%>
                                                <td><%= formatNumbers(player.victory_points) %></td>
                                            <% } -%>

                                            <td><%= formatNumbers(player.villages) %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/ranking/players/">View complete players ranking</a>
                        </div>
                    </section>

                    <section>
                        <h2>Statistics</h2>

                        <div class="content-border">
                            <table>
                                <tr>
                                    <td><%= formatNumbers(world.player_count) %> players</td>
                                    <td><a href="#">View player statistics</a></td>
                                </tr>
                                <tr>
                                    <td><%= formatNumbers(world.village_count) %> Villages</td>
                                    <td><a href="#">View village statistics</a></td>
                                </tr>
                                <tr>
                                    <td><%= formatNumbers(world.tribe_count) %> Tribes</td>
                                    <td><a href="#">View tribe statistics</a></td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= world.num %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            const {
                marketId,
                worldNumber,
                players,
                tribes,
                mapHighlights,
                mapHighlightsType
            } = <%- JSON.stringify(exportValues) %>
        </script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
