<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=1000 initial-scale=1"/>
        <meta name="description" content="Detailed statistics for Tribal Wars 2">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/stats.css' />
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <script type="text/javascript">
            const {
                marketId,
                worldNumber,
                players,
                tribes,
                mapHighlights
            } = <%- JSON.stringify(exportValues) %>

            const STATS_PAGE = 'home'
        </script>
    </head>
    <body>
        <header></header>
        <main class="content-border">
            <h1>
                <a href="/"><%= siteName %></a> /
                Server <a href="/stats/<%= marketId %>/"><%= marketId.toUpperCase() %></a> /
                World <a href="/stats/<%= marketId %>/<%= world.num %>/"><%= world.name %></a><%= world.open ? '' : ' (Closed)' %>
            </h1>

            <div class="content">
                <div class="left">
                    <section id="search">
                        <h2>Search</h2>

                        <div class="content-border wrapper">
                            <form method="POST" action="/stats/<%= marketId %>/<%= world.num %>/search/">
                                <input type="text" name="query" placeholder="Search...">
                                
                                <div class="submit-buttons">
                                    <input type="submit" name="category" value="Players">
                                    <input type="submit" name="category" value="Tribes">
                                    <input type="submit" name="category" value="Villages">
                                </div>
                            </form>
                        </div>
                    </section>

                    <section id="tribes">
                        <h2>Tribes</h2>

                        <table>
                            <colgroup>
                                <col width="50px">
                                <col width="*">
                                <col width="50px">
                                <col width="50px">
                                <col width="50px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Tribe</th>
                                    <th>Members</th>
                                    <th>Points</th>
                                    <th>Villages</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let rank = 1 %>
                                <% for (let tribe of tribes) { %>
                                    <tr data-tribe-id="<%= tribe.id %>">
                                        <td><%= rank %></td>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                                            <% if (rank < 4) { %>
                                                <div class="color"></div>
                                            <% } %>
                                        </td>
                                        <td><%= tribe.members.toLocaleString('pt-BR') %></td>
                                        <td><%= tribe.points.toLocaleString('pt-BR') %></td>
                                        <td><%= tribe.villages.toLocaleString('pt-BR') %></td>
                                    </tr>

                                    <% rank++ %>
                                <% } %>
                            </tbody>
                        </table>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/">View complete tribes ranking</a>
                        </div>
                    </section>

                    <section id="players">
                        <h2>Players</h2>

                        <table>
                            <colgroup>
                                <col width="50px">
                                <col width="*">
                                <col width="50px">
                                <col width="50px">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Player</th>
                                    <th>Points</th>
                                    <th>Villages</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% rank = 1 %>
                                <% for (let player of players) { %>
                                    <tr data-player-id="<%= player.id %>">
                                        <td><%= rank %></td>
                                        <td><a href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.id %>"><%= player.name %></a></td>
                                        <td><%= player.points.toLocaleString('pt-BR') %></td>
                                        <td><%= player.villages.toLocaleString('pt-BR') %></td>
                                    </tr>

                                    <% rank++ %>
                                <% } %>
                            </tbody>
                        </table>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/players/">View complete players ranking</a>
                        </div>
                    </section>

                    <section>
                        <h2>Statistics</h2>

                        <table>
                            <tr>
                                <td><%= world.player_count.toLocaleString('pt-BR') %> players</td>
                                <td><a href="#">View player statistics</a></td>
                            </tr>
                            <tr>
                                <td><%= world.village_count.toLocaleString('pt-BR') %> Villages</td>
                                <td><a href="#">View village statistics</a></td>
                            </tr>
                            <tr>
                                <td><%= world.tribe_count.toLocaleString('pt-BR') %> Tribes</td>
                                <td><a href="#">View tribe statistics</a></td>
                            </tr>
                        </table>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= world.num %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
