<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=1000 initial-scale=1"/>
        <meta name="description" content="Detailed statistics for Tribal Wars 2">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/stats.css' />
        <link rel="icon" type="image/png" href="/images/favicon.png"/>
        <script type="text/javascript">
            const {
                marketId,
                worldNumber,
                mapHighlights
            } = <%- JSON.stringify(exportValues) %>

            const STATS_PAGE = 'player-villages'
        </script>
    </head>
    <body>
        <header></header>
        <main class="content-border">
            <h1>
                <a href="/"><%= siteName %></a> /
                Server <a href="/stats/<%= marketId %>/"><%= marketId.toUpperCase() %></a> /
                World <a href="/stats/<%= marketId %>/<%= worldNumber %>/"><%= world.name %></a> /
                Player <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>"><%= player.name %></a> /
                Villages
            </h1>

            <div class="content">
                <div class="left">
                    <h2>Player villages</h2>
                    <table class="content-border quick-highlight">
                        <colgroup>
                            <col width="*">
                            <col width="100px">
                            <col width="100px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Coords</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let village of villages) { %>
                                <tr data-id="<%= village.id %>" data-highlight-type="villages">
                                    <td><a href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= village.id %>"><%= village.name %></a></td>
                                    <td><%= village.x + '|' + village.y %></td>
                                    <td><%= formatNumbers(village.points) %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
