<!DOCTYPE html>
<html lang="en">
    <%- include('includes/head-stats.ejs') %>
    <body>
        <header></header>
        <main class="content-border">
            <%- include('includes/navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="tribe">
                        <h2>Tribe profile</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="50%">
                                    <col width="50%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>Rank:</th>
                                        <td><%= formatNumbers(tribe.rank) %></td>
                                    </tr>
                                    <tr>
                                        <th>Name:</th>
                                        <td><%= tribe.name %></td>
                                    </tr>
                                    <tr>
                                        <th>Tag:</th>
                                        <td><%= tribe.tag %></td>
                                    </tr>
                                    <tr>
                                        <th>Villages:</th>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/villages"><%= formatNumbers(tribe.villages) %></a></td>
                                    </tr>
                                    <tr>
                                        <th>Points:</th>
                                        <td><%= formatNumbers(tribe.points) %></td>
                                    </tr>
                                    <tr>
                                        <th>Members:</th>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/members"><%= formatNumbers(tribe.members) %></a></td>
                                    </tr>
                                    <tr>
                                        <th>Bash Attack:</th>
                                        <td><%= formatNumbers(tribe.bash_points_off) %></td>
                                    </tr>
                                    <tr>
                                        <th>Bash Defense:</th>
                                        <td><%= formatNumbers(tribe.bash_points_def) %></td>
                                    </tr>
                                    <tr>
                                        <th>Average Points/Member:</th>
                                        <td><%= formatNumbers(tribe.points_per_member) %></td>
                                    </tr>
                                    <tr>
                                        <th>Average Points/Village:</th>
                                        <td><%= formatNumbers(tribe.points_per_villages) %></td>
                                    </tr>
                                    <tr>
                                        <th>Member Changes:</th>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th>Village Conquers:</th>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests"><%= formatNumbers(conquestCount[conquestTypes.GAIN] + conquestCount[conquestTypes.LOSS]) %></a>
                                            (+<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/<%= conquestTypes.GAIN %>"><%= formatNumbers(conquestCount[conquestTypes.GAIN]) %></a>
                                            -<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/<%= conquestTypes.LOSS %>"><%= formatNumbers(conquestCount[conquestTypes.LOSS]) %></a>)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Best Rank:</th>
                                        <td><%= formatNumbers(tribe.best_rank) %> <small class="right"><%= formatDate(tribe.best_rank_date) %></small></td>
                                    </tr>
                                    <tr>
                                        <th>Most Points:</th>
                                        <td><%= formatNumbers(tribe.best_points) %> <small class="right"><%= formatDate(tribe.best_points_date) %></small></td>
                                    </tr>
                                    <tr>
                                        <th>Most Villages:</th>
                                        <td><%= formatNumbers(tribe.best_villages) %> <small class="right"><%= formatDate(tribe.best_villages_date) %></small></td>
                                    </tr>
                                    <tr>
                                        <th>First seen:</th>
                                        <td><%= formatDate(tribe.first_seen) %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/history">View tribe history</a>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            const {
                marketId,
                worldNumber,
                mapHighlights,
                mapHighlightsType,
                tribe
            } = <%- JSON.stringify(exportValues) %>
        </script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
