<table>
    <colgroup>
        <col width="50px">
        <col width="*">
        <col width="50px">
        <col width="50px">
        <col width="50px">
    </colgroup>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Tribe</th>
            <th>Points</th>
            <th>Villages</th>
        </tr>
    </thead>
    <tbody>
        <% for (let player of results) { %>
            <tr>
                <td><%= player.player_rank.toLocaleString('pt-BR') %></td>
                <td><a href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.player_id %>/"><%= player.player_name %></a></td>

                <% if (player.tribe_id) { %>
                    <td><a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= player.tribe_id %>/"><%= player.tribe_tag %></a></td>
                <% } else { %>
                    <td>-</td>
                <% } %>

                <td><%= player.player_points.toLocaleString('pt-BR') %></td>
                <td><%= player.player_villages.toLocaleString('pt-BR') %></td>
            </tr>
        <% } %>
    </tbody>
</table>
