<table>
    <thead>
        <tr>
            <th><a href="?tsort=rank"><%= i18n('column_rank', 'world_ranking', lang) %> <span class="icon-sort <% if (sortField === 'rank') __append('selected') %>"></span></a></th>
            <th><%= i18n('column_tribe', 'world_ranking', lang) %></th>
            <th><%= i18n('column_members', 'world_ranking', lang) %></th>
            <th><a href="?tsort=points"><%= i18n('column_points', 'world_ranking', lang) %> <span class="icon-sort <% if (sortField === 'points') __append('selected') %>"></span></a></th>
            <% if (world.config && world.config.victory_points) { -%>
                <th title="<%= i18n('column_victory_points_full', 'world_ranking', lang) %>"><a href="?tsort=victory_points"><%= i18n('column_victory_points', 'world_ranking', lang) %> <span class="icon-sort <% if (sortField === 'victory_points') __append('selected') %>"></span></a></th>
            <% } -%>
            <th><a href="?tsort=villages"><%= i18n('column_villages', 'world_ranking', lang) %> <span class="icon-sort <% if (sortField === 'villages') __append('selected') %>"></span></a></th>
            <% if (world.config && !world.config.victory_points) { -%>
                <th title="<%= i18n('column_domination_full', 'world_ranking', lang) %>"><%= i18n('column_domination', 'world_ranking', lang) %></th>
            <% } -%>
        </tr>
    </thead>
    <tbody>
        <% for (let tribe of ranking) { %>
            <tr class="quick-highlight" data-id="<%= tribe.id %>" data-type="tribes">
                <td><%= tribe.rank %></td>
                <td>
                    <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                </td>
                <td><%= formatNumbers(tribe.members) %></td>
                <td><%= formatNumbers(tribe.points) %></td>

                <% if (world.config && world.config.victory_points) { -%>
                    <td><%= formatNumbers(tribe.victory_points) %></td>
                <% } -%>

                <td><%= formatNumbers(tribe.villages) %></td>

                <% if (displayDominationColumn) { -%>
                    <% if (tribe.domination) { -%>
                        <td><%= tribe.domination %>%</td>
                    <% } else { -%>
                        <td>-</td>
                    <% } -%>
                <% } -%>
            </tr>
        <% } %>
    </tbody>
</table>
