<table class="quick-highlight">
    <colgroup>
        <col width="50px">
        <col width="*">
        <col width="50px">
        <col width="50px">
        <% if (world.config.victory_points) { -%>
            <col width="40px">
        <% } -%>
        <col width="50px">
    </colgroup>
    <thead>
        <tr>
            <th><%= i18n.world_ranking.column_rank %></th>
            <th><%= i18n.world_ranking.column_tribe %></th>
            <th><%= i18n.world_ranking.column_members %></th>
            <th><%= i18n.world_ranking.column_points %></th>
            <% if (world.config.victory_points) { -%>
                <th title="Victory Points"><%= i18n.world_ranking.column_victory_points %></th>
            <% } -%>
            <th><%= i18n.world_ranking.column_villages %></th>
        </tr>
    </thead>
    <tbody>
        <% for (let tribe of ranking) { %>
            <tr data-id="<%= tribe.id %>" data-highlight-type="tribes">
                <td><%= tribe.rank %></td>
                <td>
                    <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                    <% if (tribe.rank < 4) { %>
                        <div class="color"></div>
                    <% } %>
                </td>
                <td><%= formatNumbers(tribe.members) %></td>
                <td><%= formatNumbers(tribe.points) %></td>

                <% if (world.config.victory_points) { -%>
                    <td><%= formatNumbers(tribe.victory_points) %></td>
                <% } -%>

                <td><%= formatNumbers(tribe.villages) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
