<!DOCTYPE html>
<html lang="en" class="map-page">
    <%- include('head.ejs') %>
    <body>
        <div class="wrapper">
            <div class="map-panel away">
                <div>
                    <a href="/stats/br/51"><h1><%= world.name %></h1></a>
                    <section>
                        <button class="element relax-button" id="current-world"><span class="flag-<%= marketId %>"><%= marketId %><%= world.num %></span></button>
                        <button class="element relax-button stretch change-settings"><%= i18n('button_settings', 'maps', lang) %></button>
                    </section>
                    <section>
                        <button class="element relax-button stretch" id="ranking-toggle"><%= i18n('button_ranking', 'maps', lang) %></button>
                    </section>
                </div>

                <div class="jump">
                    <div class="coords relax-input element stretch">
                        <label>x:<input type="text" class="coords-x" placeholder="500"></label>
                        <label>y:<input type="text" class="coords-y" placeholder="500"></label>
                    </div>
                    <button class="coords-go element relax-button red">Go</button>
                </div>

                <div class="highlights">
                    <h2><%= i18n('header_highlights', 'maps', lang) %></h2>

                    <section class="search column">
                        <input type="text" class="relax-input element" spellcheck="false" autocomplete="off" placeholder="<%= i18n('search_placeholder', 'maps', lang) %>">
                        <div class="results hidden element">
                            <div class="no-results hidden"><%= i18n('search_no_results', 'maps', lang) %></div>
                        </div>
                    </section>

                    <ul class="highlights-items"></ul>
                </div>

                <div>
                    <section>
                        <button id="map-share" class="element stretch relax-button">
                            <span><%= i18n('button_gen_dynamic_map', 'maps', lang) %></span>
                            <div class="loading hidden"><div class="b1"></div><div class="b2"></div><div></div></div>
                        </button>
                    </section>
                    <section>
                        <button id="map-save" class="element stretch relax-button">
                            <span><%= i18n('button_gen_static_map', 'maps', lang) %></span>
                            <div class="loading hidden"><div class="b1"></div><div class="b2"></div><div></div></div>
                        </button>
                    </section>

                    <div class="info">
                        <p>&copy; 2020-2021 <a href="https://www.tw2-tracker.com">Tw2-Tracker</a></p>
                    </div>
                </div>

                <div class="toggle"></div>
            </div>
            <div class="map full">
                <div class="map-info">
                    <div>
                        <span class="position-x">500</span>|<span class="position-y">500</span>
                    </div>

                    <div class="last-sync hidden">
                        <span><%= i18n('last_update', 'maps', lang) %></span>
                        <span class="date"></span>
                    </div>

                    <div class="share-date hidden">
                        <span><%= i18n('share_date', 'maps', lang) %></span>
                        <span class="date"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="notif hidden">
            <span class="close"></span>
            <h3 class="title"></h3>
            <div class="body">
                <p class="content"></p>
                <a class="link"></a>
            </div>
        </div>

        <%- include('tooltip.ejs') %>

        <div class="color-picker box-border invisible">
            <span class="close"></span>
            <table></table>
        </div>

        <div class="map-world-list floating-modal invisible">
            <h2><%= i18n('open_worlds', 'maps', lang) %></h2>
            <div class="loading"><div class="b1"></div><div class="b2"></div><div></div></div>
            <ul class="map-market-list"></ul>
            <ul class="map-market-worlds"></ul>
        </div>

        <div class="map-settings floating-modal invisible">
            <div class="color-option" data-setting-id="backgroundColor"><label><%= i18n('settings_bg_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="neutralColor"><label><%= i18n('settings_neutral_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="barbarianColor"><label><%= i18n('settings_barbarian_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="highlightPlayerColor"><label><%= i18n('settings_highlight_player_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="demarcationsColor"><label><%= i18n('settings_demarcations_color', 'maps', lang) %></label></div>
        </div>

        <template id="floating-modal">
            <div class="floating-modal invisible">
                <header class="floating-modal-header">
                    <div class="floating-modal-menu"></div>
                    <div class="floating-modal-drag"></div>
                    <div class="modal-actions">
                        <button class="floating-modal-close relax-button red">x</button>
                    </div>
                </header>
                <div class="floating-modal-body"></div>
            </div>
        </template>

        <template id="ranking-players">
            <table class="floating-ranking" data-type="players">
                <thead>
                    <tr>
                        <th data-sort="rank" class="sort selected"><%= i18n('column_rank', 'world', lang) %></th>
                        <th><%= i18n('column_player', 'world', lang) %></th>
                        <th><%= i18n('column_tribe', 'world', lang) %></th>
                        <th data-sort="points" class="sort" title="<%= i18n('column_points', 'world', lang) %>"><%= i18n('column_points', 'world', lang) %></th>
                        <th data-sort="villages" class="sort" title="<%= i18n('column_villages', 'world', lang) %>"><%= i18n('column_villages', 'world', lang) %></th>
                        <th data-sort="bash_off" class="sort" title="<%= i18n('column_bash_points_offense', 'world', lang) %>"><%= i18n('column_bash_points_offense', 'world', lang) %></th>
                        <th data-sort="bash_def" class="sort" title="<%= i18n('column_bash_points_defense', 'world', lang) %>"><%= i18n('column_bash_points_defense', 'world', lang) %></th>
                        <th data-sort="bash_total" class="sort" title="<%= i18n('column_bash_points_total', 'world', lang) %>"><%= i18n('column_bash_points_total', 'world', lang) %></th>
                        <th data-sort="victory_points" class="sort victory-points hidden" title="<%= i18n('column_victory_points', 'world', lang) %>"><%= i18n('column_victory_points', 'world', lang) %></th>
                        <th title="<%= i18n('column_actions', 'world', lang) %>"><%= i18n('column_actions', 'world', lang) %></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="pagination">
                                <a class="page first">&lt;&lt;&lt; <%= i18n('first', 'pagination', lang) %></a>
                                <a class="page prev">&lt; <%= i18n('previous', 'pagination', lang) %></a>
                                <div class="pages"></div>
                                <a class="page last"><%= i18n('last', 'pagination', lang) %> &gt;&gt;&gt;</a>
                                <a class="page next"><%= i18n('next', 'pagination', lang) %> &gt;</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </template>

        <template id="ranking-tribes">
            <table class="floating-ranking" data-type="tribes">
                <thead>
                    <tr>
                        <th data-sort="rank" class="sort selected" title="<%= i18n('column_rank', 'world', lang) %>"><%= i18n('column_rank', 'world', lang) %></th>
                        <th title="column_tribe', 'world', lang) %>"><%= i18n('column_tribe', 'world', lang) %></th>
                        <th title="<%= i18n('column_tribe_tag', 'world', lang) %>"><%= i18n('column_tribe_tag', 'world', lang) %></th>
                        <th data-sort="points" class="sort" title="<%= i18n('column_points', 'world', lang) %>"><%= i18n('column_points', 'world', lang) %></th>
                        <th data-sort="villages" class="sort" title="<%= i18n('column_villages', 'world', lang) %>"><%= i18n('column_villages', 'world', lang) %></th>
                        <th data-sort="bash_off" class="sort" title="<%= i18n('column_bash_points_offense', 'world', lang) %>"><%= i18n('column_bash_points_offense', 'world', lang) %></th>
                        <th data-sort="bash_def" class="sort" title="<%= i18n('column_bash_points_defense', 'world', lang) %>"><%= i18n('column_bash_points_defense', 'world', lang) %></th>
                        <th data-sort="bash_total" class="sort" title="<%= i18n('column_bash_points_total', 'world', lang) %>"><%= i18n('column_bash_points_total', 'world', lang) %></th>
                        <th data-sort="victory_points" class="sort victory-points hidden" title="<%= i18n('column_victory_points', 'world', lang) %>"><%= i18n('column_victory_points', 'world', lang) %></th>
                        <th title="<%= i18n('column_actions', 'world', lang) %>"><%= i18n('column_actions', 'world', lang) %></th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <div class="pagination">
                                <a class="page first">&lt;&lt;&lt; <%= i18n('first', 'pagination', lang) %></a>
                                <a class="page prev">&lt; <%= i18n('previous', 'pagination', lang) %></a>
                                <div class="pages"></div>
                                <a class="page last"><%= i18n('last', 'pagination', lang) %> &gt;&gt;&gt;</a>
                                <a class="page next"><%= i18n('next', 'pagination', lang) %> &gt;</a>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </template>

        <script type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/i18n.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/maps.js"></script>
    </body>
</html>
