<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body id="map-page">
        <div id="map-wrapper">
            <div id="side-panel" class="hidden">
                <header>
                    <a href="/stats/<%= marketId %>/<%= world.num %>">
                        <h1 id="world-name"><%= world.name %></h1>
                    </a>
                    <button id="current-world">
                        <span class="flag-<%= marketId %>"><%= marketId %><%= world.num %></span>
                    </button>
                    <button id="change-settings"><%= i18n('button_settings', 'maps', lang) %></button>
                </header>

                <div id="quick-jump">
                    <div id="quick-jump-coords" class="input">
                        <label>x:<input type="text" id="quick-jump-x" placeholder="500"></label>
                        <label>y:<input type="text" id="quick-jump-y" placeholder="500"></label>
                    </div>
                    <button id="quick-jump-go" class="red">Go</button>
                </div>

                <div id="highlights">
                    <label>
                        <h2 id="highlights-title"><%= i18n('header_highlights', 'maps', lang) %></h2>
                        <input type="text" id="highlight-id" class="input" spellcheck="false" placeholder="<%= i18n('search_placeholder', 'maps', lang) %>">
                    </label>
                    <ul id="highlight-items"></ul>
                </div>

                <footer>
                    <div id="map-share-wrapper">
                        <button id="map-share">
                            <span><%= i18n('button_gen_dynamic_map', 'maps', lang) %></span>
                            <div class="loading hidden"><div class="b1"></div><div class="b2"></div><div></div></div>
                        </button>
                        <button id="map-save">
                            <span><%= i18n('button_gen_static_map', 'maps', lang) %></span>
                            <div class="loading hidden"><div class="b1"></div><div class="b2"></div><div></div></div>
                        </button>
                    </div>

                    <div id="site-info">
                        <p>&copy; 2020-2021 <a href="https://www.tw2-tracker.com">Tw2-Tracker</a></p>
                    </div>
                </footer>

                <div id="panel-toggle"></div>
            </div>
            <div id="map" class="full">
                <div id="map-info">
                    <div id="display-position" class="text-container">
                        <span id="display-position-x">500</span>|<span id="display-position-y">500</span>
                    </div>

                    <div id="last-sync" class="text-container hidden">
                        <span><%= i18n('last_update', 'maps', lang) %></span>
                        <span id="last-sync-date"></span>
                    </div>

                    <div id="share-date" class="text-container hidden">
                        <span><%= i18n('share_date', 'maps', lang) %></span>
                        <span id="share-date-date"></span>
                    </div>
                </div>
            </div>
        </div>

        <div id="notif" class="hidden">
            <span id="notif-close"></span>
            <h1 id="notif-title"></h1>
            <div id="notif-wrapper">
                <p id="notif-content"></p>
                <a id="notif-link"></a>
            </div>
        </div>

        <%- include('tooltip.ejs') %>

        <div id="color-picker" class="box-border">
            <span class="close"></span>
            <table></table>
        </div>

        <div id="all-worlds" class="hidden">
            <h2><%= i18n('open_worlds', 'maps', lang) %></h2>
            <div class="loading"><div class="b1"></div><div class="b2"></div><div></div></div>
            <ul id="all-markets"></ul>
            <ul id="all-market-worlds"></ul>
        </div>

        <div id="settings" class="hidden">
            <div class="color-option" data-setting-id="backgroundColor"><label><%= i18n('settings_bg_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="neutralColor"><label><%= i18n('settings_neutral_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="barbarianColor"><label><%= i18n('settings_barbarian_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="highlightPlayerColor"><label><%= i18n('settings_highlight_player_color', 'maps', lang) %></label></div>
            <div class="color-option" data-setting-id="demarcationsColor"><label><%= i18n('settings_demarcations_color', 'maps', lang) %></label></div>
        </div>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/libs/autoComplete.min.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/maps.js"></script>
    </body>
</html>
