<div id="map-tooltip" class="box-border">
    <table>
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-villages"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('village', 'maps_tooltip') %></span>
                        <span class="village-name overflow"></span> (<span class="village-x"></span>|<span class="village-y"></span>)
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-points"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('village_points', 'maps_tooltip') %></span>
                        <span class="village-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-players"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('player_name', 'maps_tooltip') %></span>
                        <span class="player-name overflow"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-points"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('player_points', 'maps_tooltip') %></span>
                        <span class="player-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-tribes"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('tribe_name', 'maps_tooltip') %></span>
                        <span class="tribe-name overflow"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <div class="icon-border">
                        <span class="icon-tribe-points"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('tribe_points', 'maps_tooltip') %></span>
                        <span class="tribe-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <div class="icon-border">
                        <span class="icon-province"></span>
                    </div>
                    <div class="values">
                        <span class="title"><%= i18n('province_name', 'maps_tooltip') %></span>
                        <span class="province-name"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
