<div id="map-tooltip" class="box-border">
    <table>
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td>
                <div>
                    <span class="icon village"></span>
                    <div>
                        <span class="title"><%= i18n('village', 'maps_tooltip', lang) %></span>
                        <span class="village-name overflow"></span> (<span class="village-x"></span>|<span class="village-y"></span>)
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon points"></span>
                    <div>
                        <span class="title"><%= i18n('village_points', 'maps_tooltip', lang) %></span>
                        <span class="village-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span class="icon player"></span>
                    <div>
                        <span class="title"><%= i18n('player_name', 'maps_tooltip', lang) %></span>
                        <span class="player-name overflow"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon points"></span>
                    <div>
                        <span class="title"><%= i18n('player_points', 'maps_tooltip', lang) %></span>
                        <span class="player-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span class="icon tribe"></span>
                    <div>
                        <span class="title"><%= i18n('tribe_name', 'maps_tooltip', lang) %></span>
                        <span class="tribe-name overflow"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon tribe-points-x"></span>
                    <div>
                        <span class="title"><%= i18n('tribe_points', 'maps_tooltip', lang) %></span>
                        <span class="tribe-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <span class="icon province"></span>
                    <div>
                        <span class="title"><%= i18n('province_name', 'maps_tooltip', lang) %></span>
                        <span class="province-name"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
