<div id="map-tooltip" class="box-border">
    <table>
        <colgroup>
            <col width="50%">
            <col width="50%">
        </colgroup>
        <tr>
            <td>
                <div>
                    <span class="icon village"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.village %></span>
                        <span class="village-name"></span> (<span class="village-x"></span>|<span class="village-y"></span>)
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon points"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.village_points %></span>
                        <span class="village-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span class="icon player"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.player_name %></span>
                        <span class="player-name"></span> <span class="player-villages"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon points"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.player_points %></span>
                        <span class="player-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    <span class="icon tribe"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.tribe_name %></span>
                        <span class="tribe-name"></span> (<span class="tribe-tag"></span>) <span class="tribe-villages"></span>
                    </div>
                </div>
            </td>
            <td>
                <div>
                    <span class="icon tribe-points-x"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.tribe_points %></span>
                        <span class="tribe-points"></span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>
                    <span class="icon province"></span>
                    <div>
                        <span class="title"><%= i18n.maps.tooltip.province_name %></span>
                        <span class="province-name"></span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
