<table>
    <thead>
        <tr>
            <th><%= i18n('column_rank', 'world_search', lang) %></th>
            <th><%= i18n('column_name', 'world_search', lang) %></th>
            <th><%= i18n('column_tribe', 'world_search', lang) %></th>
            <th><%= i18n('column_points', 'world_search', lang) %></th>
            <th><%= i18n('column_villages', 'world_search', lang) %></th>
        </tr>
    </thead>
    <tbody>
        <% for (let player of results) { %>
            <tr>
                <td><%= formatNumbers(player.player_rank) %></td>
                <td><a class="player-link" href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.player_id %>/"><%= player.player_name %></a></td>

                <% if (player.tribe_id) { %>
                    <td><a class="tribe-link" href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= player.tribe_id %>/"><%= player.tribe_tag %></a></td>
                <% } else { %>
                    <td>-</td>
                <% } %>

                <td><%= formatNumbers(player.player_points) %></td>
                <td><%= formatNumbers(player.player_villages) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
