<table>
    <colgroup>
        <col width="50px">
        <col width="*">
        <col width="50px">
        <col width="50px">
        <col width="50px">
    </colgroup>
    <thead>
        <tr>
            <th><%= i18n.world_search.column_rank %></th>
            <th><%= i18n.world_search.column_name %></th>
            <th><%= i18n.world_search.column_tribe %></th>
            <th><%= i18n.world_search.column_points %></th>
            <th><%= i18n.world_search.column_villages %></th>
        </tr>
    </thead>
    <tbody>
        <% for (let player of results) { %>
            <tr>
                <td><%= formatNumbers(player.player_rank) %></td>
                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.player_id %>/"><%= player.player_name %></a></td>

                <% if (player.tribe_id) { %>
                    <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= player.tribe_id %>/"><%= player.tribe_tag %></a></td>
                <% } else { %>
                    <td>-</td>
                <% } %>

                <td><%= formatNumbers(player.player_points) %></td>
                <td><%= formatNumbers(player.player_villages) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
