<table>
    <colgroup>
        <col width="50px">
        <col width="*">
        <col width="50px">
        <col width="50px">
        <col width="50px">
        <col width="50px">
    </colgroup>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Tag</th>
            <th>Points</th>
            <th>Villages</th>
            <th>Members</th>
        </tr>
    </thead>
    <tbody>
        <% for (let tribe of results) { %>
            <tr>
                <td><%= formatNumbers(tribe.rank) %></td>
                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/"><%= tribe.name %></a></td>
                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/"><%= tribe.tag %></a></td>
                <td><%= formatNumbers(tribe.points) %></td>
                <td><%= formatNumbers(tribe.villages) %></td>
                <td><%= formatNumbers(tribe.members) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
