<table>
    <thead>
        <tr>
            <th><%= i18n('column_rank', 'world_search') %></th>
            <th><%= i18n('column_name', 'world_search') %></th>
            <th><%= i18n('column_tag', 'world_search') %></th>
            <th><%= i18n('column_points', 'world_search') %></th>
            <th><%= i18n('column_villages', 'world_search') %></th>
            <th><%= i18n('column_members', 'world_search') %></th>
        </tr>
    </thead>
    <tbody>
        <% for (let tribe of results) { %>
            <tr>
                <td><%= formatNumbers(tribe.rank) %></td>
                <td><a class="icon-tribes" href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>"><%= tribe.name %></a></td>
                <td><a class="icon-tribes" href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>"><%= tribe.tag %></a></td>
                <td><%= formatNumbers(tribe.points) %></td>
                <td><%= formatNumbers(tribe.villages) %></td>
                <td><%= formatNumbers(tribe.members) %></td>
            </tr>
        <% } %>
    </tbody>
</table>
