<table>
    <thead>
        <tr>
            <th><%= i18n('column_villages', 'world_search') %></th>
            <th><%= i18n('column_points', 'world_search') %></th>
            <th><%= i18n('column_owner', 'world_search') %></th>
            <th><%= i18n('column_tribe', 'world_search') %></th>
        </tr>
    </thead>
    <tbody>
        <% for (let village of results) { %>
            <tr>
                <td><a class="icon-villages" href="/stats/<%= marketId %>/<%= worldNumber %>/villages/<%= village.village_id %>/"><%= village.village_name %> (<%= village.village_x %>|<%= village.village_y %>)</a></td>
                <td><%= formatNumbers(village.village_points) %></td>

                <% if (village.player_id) { %>
                    <td><a class="icon-players" href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= village.player_id %>/"><%= village.player_name %></a></td>
                <% } else { %>
                    <td><%= i18n('abandoned_village', 'world_search') %></td>
                <% } %>

                <% if (village.tribe_id) { %>
                    <td><a class="icon-tribes" href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= village.tribe_id %>/"><%= village.tribe_tag %></a></td>
                <% } else { %>
                    <td>-</td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</table>
