<!DOCTYPE html>
<html lang="en">
    <%- include('./admin/head.ejs') %>
    <body id="admin">
        <header id="main-header"></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <div class="sub-menu">
                <% for (const [id, data] of menu) { -%>
                    <a href="/admin/<%= id %>" class="item <% __append(data.selected ? 'selected' : '') %>"><%= i18n(id, 'admin_menu') %></a>
                <% } -%>

                <a class="item right" href="/logout"><%= i18n('logout', 'admin_menu', lang) %></a>
            </div>

            <%- include('./admin/' + subPage + '.ejs') %>
        </main>

        <%- include('./footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/admin.js"></script>
    </body>
</html>
