<!DOCTYPE html>
<html lang="en">
    <%- include('./admin/head.ejs') %>
    <body id="admin">
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <ul class="sub-menu">
                <% for (const [id, data] of menu) { -%>
                    <a href="/admin/<%= id %>"><li class="<% __append(data.selected ? 'selected' : '') %>"><%= data.label %></li></a>
                <% } -%>
            </ul>

            <%- include('./admin/' + subPage + '.ejs') %>
        </main>

        <%- include('./footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/admin.js"></script>
    </body>
</html>
