<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('menu.ejs') %>

        <main>
            <h1><%= i18n('header_error', 'errors', [status]) %> <%= error.message %></h1>

            <% if (showStack) { -%>
                <pre><%= showStack ? error.stack : error.message %></pre>
            <% } -%>

            <p><%= i18n('contact_us', 'errors') %> <code><a href="mailto:<%= issuesEmail %>"><%= issuesEmail %></a></code></p>
        </main>
    </body>
</html>
