<!DOCTYPE html>
<html lang="en">
    <%- include('head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('menu.ejs') %>

        <main>
            <h1><%= i18n('header_error', 'errors', lang, [status]) %> <%= error.message %></h1>

            <% if (development) { -%>
                <pre><%= development ? error.stack : error.message %></pre>
            <% } -%>

            <p><%= i18n('contact_us', 'errors', lang) %> <code><a href="mailto:<%= config.emails.issues %>"><%= config.emails.issues %></a></code></p>
        </main>
    </body>
</html>
