<!DOCTYPE html>
<html lang="en">
    <%- include('./admin/head.ejs') %>
    <body id="admin">
        <header id="main-header"></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="login">
                        <h1>Admin login</h1>

                        <% if (error) { %>
                            <p class="error"><%= error %></p>
                        <% } %>

                        <div class="content-border">
                            <form action="/login" method="POST">
                                <label class="input">
                                    <span>Name:</span>
                                    <input type="text" class="relax-input" name="username" required>
                                </label>
                                <label class="input">
                                    <span>Pass:</span>
                                    <input type="password" class="relax-input" name="password" required>
                                </label>

                                <div class="actions">
                                    <input type="submit" value="Login" class="relax-button">
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
                <div class="right"></div>
            </div>
        </main>

        <%- include('./footer.ejs') %>

        <script defer type="text/javascript">
            document.querySelector('input[name=username]').focus()
        </script>
    </body>
</html>
