<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section>
                        <% for (let market of marketStats) { -%>
                            <div class="relax-container market">
                                <h2 class="title">
                                    <span class="flag-<%= market.id %>"></span>
                                    <%= market.id.toUpperCase() %>
                                </h2>
                                <div class="stats">
                                    <ul>
                                        <li><%= formatNumbers(market.players) %> <%= i18n.market_list.players %></li>
                                        <li><%= formatNumbers(market.tribes) %> <%= i18n.market_list.tribes %></li>
                                        <li><%= formatNumbers(market.villages) %> <%= i18n.market_list.villages %></li>
                                    </ul>
                                </div>
                                <div class="worlds">
                                    <ul>
                                        <li><%= sprintf(i18n.market_list.open_worlds, market.openWorld) %></li>
                                        <li><%= sprintf(i18n.market_list.closed_worlds, market.closedWorld) %></li>
                                    </ul>
                                </div>

                                <div class="actions">
                                    <a class="relax-button" href="/stats/<%= market.id %>">World List</a>
                                </div>
                            </div>
                        <% } -%>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
