<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="markets">
                        <% for (let market of marketStats) { -%>
                            <a href="/<%= pageType %>/<%= market.id %>">
                                <div class="market market-container">
                                    <div class="market-title">
                                        <span class="flag-<%= market.id %>"></span>
                                        <%= market.id.toUpperCase() %>
                                    </div>
                                    <div class="info">
                                        <div class="stats">
                                            <fieldset>
                                                <legend><%= i18n.market_list.stats %></legend>
                                                <ul>
                                                    <li><%= formatNumbers(market.players) %> <%= i18n.market_list.players %></li>
                                                    <li><%= formatNumbers(market.tribes) %> <%= i18n.market_list.tribes %></li>
                                                    <li><%= formatNumbers(market.villages) %> <%= i18n.market_list.villages %></li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                        <div class="worlds">
                                            <fieldset>
                                                <legend><%= i18n.market_list.worlds %></legend>
                                                <ul>
                                                    <li><%= i18n.market_list.open %> <%= formatNumbers(market.openWorld) %></li>
                                                    <li><%= i18n.market_list.closed %> <%= formatNumbers(market.closedWorld) %></li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        <% } -%>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
