<nav id="main-menu">
    <div class="left">
        <a href="/"><%= i18n('home', 'main_menu', lang) %></a>
        <a href="https://www.paypal.com/donate/?hosted_button_id=6R95QYGKFNLCE"><span class="icon icon-heart"></span> <%= i18n('donate', 'main_menu', lang) %></a>
        <a href="https://discord.gg/UwQ32D3t5p"><span class="icon icon-discord"></span> <%= i18n('discord', 'main_menu', lang) %></a>
    </div>

    <div class="right">
        <a href="/change-language" class="red" id="language-selector"><span class="flag-<%= lang %>"><%= i18n('lang', 'main_menu', lang) %></span></a>
    </div>
</nav>

<div id="language-list" class="modal-container hidden">
    <header>
        <h2>Languages</h2>
        <div class="close-wrapper"><span class="close">x</span></div>
    </header>

    <% for (const langId of languages) { -%>
        <a href="/change-language/<%= langId %>"><span class="flag-<%= langId %>"><%= i18n('language', 'meta', langId) %></span></a>
    <% } -%>
</div>
