<menu>
    <a href="/"><li><%= i18n.main_menu.home %></li></a>
    <a href="/stats"><li><%= i18n.main_menu.stats %></li></a>
    <a href="/maps"><li><%= i18n.main_menu.maps %></li></a>

    <a href="https://www.paypal.com/donate/?hosted_button_id=6R95QYGKFNLCE"><li class="donate"><span class="icon icon-heart"></span> <%= i18n.main_menu.donate %></li></a>
    <a href="https://discord.gg/UwQ32D3t5p"><li class="discord"><span class="icon icon-discord"></span> <%= i18n.main_menu.discord %></li></a>
</menu>
