<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('./menu.ejs') %>

        <main>
            <%- include('./navigation.ejs') %>

            <script type="text/javascript" src="/javascripts/libs/require.min.js"></script>
            <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
            <script defer type="text/javascript" src="/javascripts/i18n.js"></script>
            <script defer type="text/javascript" src="/javascripts/utils.js"></script>
            <script defer type="text/javascript" src="/javascripts/language-selector.js"></script>

            <%- include('./notice.ejs') %>
            <%- include('./' + page + '.ejs') %>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
