<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
            <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
            <script defer type="text/javascript" src="/javascripts/utils.js"></script>
            <script defer type="text/javascript" src="/javascripts/language-selector.js"></script>

            <div class="content">
                <%- include('./' + page + '.ejs') %>
            </div>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
