<!DOCTYPE html>
<html lang="en">
    <%- include('./head.ejs') %>
    <body>
        <header></header>
        <%- include('./menu.ejs') %>

        <main class="content-border">
            <%- include('./navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="worlds">
                        <% for (let [label, data] of worlds) { -%>
                            <% if (data.length) { -%>
                                <div>
                                    <h2><%= label %></h2>
                                    <div>
                                        <% for (let world of data) { -%>
                                            <a href="/<%= pageType %>/<%= marketId %>/<%= world.num %>">
                                                <div class="world world-container">
                                                    <div class="world-title">
                                                        <span class="flag-<%= marketId %>"></span>
                                                        <%= world.name %><sup><%= world.num %></sup>
                                                    </div>
                                                    <div class="info">
                                                        <div class="stats">
                                                            <fieldset>
                                                                <legend><%= i18n.world_list.stats %></legend>
                                                                <ul>
                                                                    <li><%= formatNumbers(world.player_count) %> <%= i18n.world_list.players %></li>
                                                                    <li><%= formatNumbers(world.tribe_count) %> <%= i18n.world_list.tribes %></li>
                                                                    <li><%= formatNumbers(world.village_count) %> <%= i18n.world_list.villages %></li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>

                                                        <% if (world.config) { -%>
                                                            <div class="settings">
                                                                <fieldset>
                                                                    <legend><%= i18n.world_list.settings %></legend>
                                                                    <ul>
                                                                        <li><%= i18n.world_list.setting_world_type %> <% __append(world.config.victory_points ? i18n.world_list.world_type_victory_points : i18n.world_list.world_type_domination) %></li>
                                                                        <li><%= i18n.world_list.setting_troop_relocation %> <% __append(world.config.relocate_units ? i18n.world_list.setting_enabled : i18n.world_list.setting_disabled) %></li>
                                                                    </ul>
                                                                </fieldset>
                                                            </div>
                                                        <% } -%>
                                                    </div>

                                                    <% if (world.open_date || world.close_date) { -%>
                                                        <div class="world-dates">
                                                            <% if (world.open_date) __append(i18n.world_list.opened, ' ', formatDate(world.open_date, 'day-only')) -%>
                                                            <% if (world.close_date) __append('- ', i18n.world_list.closed, ' ', formatDate(world.close_date, 'day-only')) -%>
                                                        </div>
                                                    <% } -%>
                                                </div>
                                            </a>
                                        <% } -%>
                                    </div>
                                </div>
                            <% } -%>
                        <% } -%>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./footer.ejs') %>
    </body>
</html>
