<div class="content">
    <div class="conquests-map">
        <section id="players">
            <h2><%= i18n('header_world_conquests', 'world_conquests') %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><%= i18n('conquest_village', 'world_conquests') %></th>
                            <th><%= i18n('conquest_points', 'world_conquests') %></th>
                            <th><%= i18n('conquest_old_owner', 'world_conquests') %></th>
                            <th><%= i18n('conquest_new_owner', 'world_conquests') %></th>
                            <th><%= i18n('conquest_date_hour', 'world_conquests') %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if (!conquests.length) { -%>
                            <tr>
                                <td colspan="6"><%= i18n('no_conquests', 'world_conquests') %></td>
                            </tr>
                        <% } else { -%>
                            <% for (let conquest of conquests) { %>
                                <tr class="quick-highlight" data-id="<%= conquest.village_id %>" data-old-owner="<%= conquest.old_owner %>" data-new-owner="<%= conquest.new_owner %>" data-type="conquest">
                                    <td>
                                        <a href="/stats/<%= marketId %>/<%= world.world_number %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %> (<%= conquest.village_x %>|<%= conquest.village_y %>)</a>
                                    </td>
                                    <td><%= formatNumbers(conquest.village_points_then) %></td>

                                    <% if (conquest.old_owner) { -%>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                            <% if (conquest.old_owner_tribe_id) { -%>
                                                <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                <% } else { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                <% } -%>
                                            <% } -%>
                                        </td>
                                    <% } else { -%>
                                        <td><%= i18n('abandoned_village', 'world_conquests') %></td>
                                    <% } -%>

                                    <td>
                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                        <% if (conquest.new_owner_tribe_id) { -%>
                                            <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                            <% } else { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                            <% } -%>
                                        <% } -%>
                                    </td>
                                    <td><%= formatDate(conquest.date, market.time_offset, 'hours-only') %></td>
                                </tr>
                            <% } %>
                        <% } -%>
                    </tbody>
                </table>

                <%- include('../pagination.ejs') %>
            </div>
        </section>
    </div>

    <div>
        <%- include('./map.ejs') %>
    </div>
</div>
