<section class="world-map">
    <h2><%= i18n('header_map', 'stats_map', lang) %></h2>

    <div class="map section-content"></div>

    <div class="section-actions">
        <a href="/maps/<%= marketId %>/<%= worldNumber %>"><%= i18n('view_world_map', 'stats_map', lang) %></a>
    </div>
</section>

<%- include('../maps/tooltip.ejs') %>

<script type="text/javascript" src="/javascripts/map.js"></script>
<script type="text/javascript" src="/javascripts/stats-map.js"></script>
