<div class="content">
    <div class="left">
        <section id="player">
            <h2><%= i18n('header_player_profile', 'player_profile', lang) %></h2>

            <div class="content-border">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><%= i18n('player_rank', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.rank) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_name', 'player_profile', lang) %></th>
                            <td><%= player.name %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_tribe', 'player_profile', lang) %></th>
                            <td>
                                <% if (tribe) { %>
                                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>"><%= tribe.name %> (<%= tribe.tag %>)</a>
                                <% } else { %>
                                    <%= i18n('no_tribe', 'player_profile', lang) %>
                                <% } %>
                            </td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_villages', 'player_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/villages"><%= formatNumbers(player.villages) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_points', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.points) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_bash_attack', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.bash_points_off) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_bash_defense', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.bash_points_def) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_avg_points_village', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.points_per_villages) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_tribe_changes', 'player_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/tribe-changes"><%= formatNumbers(tribeChangesCount) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_conquests', 'player_profile', lang) %></th>
                            <td>
                                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests"><%= formatNumbers(conquestCount) %></a>
                                (+<a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/gain"><%= formatNumbers(conquestGainCount) %></a>
                                -<a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/loss"><%= formatNumbers(conquestLossCount) %></a>
                                =<a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/self"><%= formatNumbers(conquestSelfCount) %></a>)
                            </td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_achievement_points', 'player_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements"><%= formatNumbers(achievementPoints) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_record_rank', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.best_rank) %> <small class="right"><%= formatDate(player.best_rank_date, world.time_offset, 'hours-only') %></small></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_record_points', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.best_points) %> <small class="right"><%= formatDate(player.best_points_date, world.time_offset, 'hours-only') %></small></td>
                        </tr>
                        <tr>
                            <th><%= i18n('player_record_villages', 'player_profile', lang) %></th>
                            <td><%= formatNumbers(player.best_villages) %> <small class="right"><%= formatDate(player.best_villages_date, world.time_offset, 'hours-only') %></small></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="player-latest-achievements">
            <h2><%= i18n('header_last_achievements', 'player_profile', lang) %></h2>

            <div class="content-border">
                <table>
                    <colgroup>
                        <col width="*">
                        <col width="130px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><%= i18n('achievement_name', 'player_profile', lang) %></th>
                            <th><%= i18n('achievement_date_time', 'player_profile', lang) %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (achievementsLatest.length) { -%>
                            <% for (let achievement of achievementsLatest) { -%>
                                <tr>
                                    <% if (achievement.category === 'repeatable') { -%>
                                        <td><%= i18n(achievement.type, 'achievements', lang) %></td>
                                        <td><%= formatDate(achievement.time_last_level, world.time_offset, 'day-only') %></td>
                                    <% } else { -%>
                                        <td><%= i18n(achievement.type, 'achievements', lang) %></td>
                                        <td><%= formatDate(achievement.time_last_level, world.time_offset, 'hours-only') %></td>
                                    <% } -%>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_recent_achievements', 'player_profile', lang) %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements"><%= i18n('view_player_achievements', 'player_profile', lang) %></a>
            </div>
        </section>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
