<div class="content">
    <div class="single">
        <section id="player-history">
            <h2><%= i18n('header_player_history', 'player_profile_history', lang) %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><%= i18n('column_date', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_tribe', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_rank', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_points', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_villages', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_bash_points_offense', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_bash_points_defense', 'player_profile_history', lang) %></th>
                            <th><%= i18n('column_bash_points_total', 'player_profile_history', lang) %></th>
                            <% if (world.config.victory_points) { -%>
                                <th><%= i18n('column_victory_points', 'player_profile_history', lang) %></th>
                            <% } -%>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let item of history) { %>
                            <tr>
                                <td><%= formatDate(item.date, world.time_offset, 'hours-only') %></td>
                                <td><% __append(item.tribe_id ? `<a href="/stats/${marketId}/${worldNumber}/tribes/${item.tribe_id}">${item.tribe_tag}</a>` : '-') %></td>
                                <td><span class="history-change-type <%= item.rank_change %>"></span><%= formatNumbers(item.rank) %></td>
                                <td><span class="history-change-type <%= item.points_change %>"></span><%= formatNumbers(item.points) %></td>
                                <td><span class="history-change-type <%= item.villages_change %>"></span><%= formatNumbers(item.villages) %></td>
                                <td><span class="history-change-type <%= item.bash_points_off_change %>"></span><%= formatNumbers(item.bash_points_off) %></td>
                                <td><span class="history-change-type <%= item.bash_points_def_change %>"></span><%= formatNumbers(item.bash_points_def) %></td>
                                <td><span class="history-change-type <%= item.bash_points_total_change %>"></span><%= formatNumbers(item.bash_points_total) %></td>
                                <% if (world.config.victory_points) { -%>
                                    <td><span class="history-change-type <%= item.victory_points_change %>"></span><%= formatNumbers(item.victory_points) %></td>
                                <% } -%>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
