<div class="content">
    <div class="left">
        <h2>
            <%= i18n(selectedCategory, 'achievement_categories', lang) %>
            <%= i18n('achievements', 'player_profile_achievements', lang) %>
        </h2>

        <table class="section-content">
            <colgroup>
                <col width="*">
                <col width="60px">
                <col width="70px">
                <col width="150px">
            </colgroup>
            <thead>
                <tr>
                    <th><%= i18n('column_name', 'player_profile_achievements', lang) %></th>
                    <th><%= i18n('column_points', 'player_profile_achievements', lang) %></th>
                    <th><%= i18n('column_milestone', 'player_profile_achievements', lang) %></th>
                    <th><%= i18n('column_unlocked_on', 'player_profile_achievements', lang) %></th>
                </tr>
            </thead>
            <tbody>
                <% if (achievementByCategory[selectedCategory].length) { -%>
                    <% for (let achievement of achievementByCategory[selectedCategory]) { %>
                        <tr>
                            <td><%= i18n(achievement.type, 'achievements', lang) %></td>
                            <td><%= formatNumbers(achievement.points) %></td>
                            <td><%= achievement.level %> / <%= achievementTypes[achievement.type].levels %></td>
                            <td><%= formatDate(achievement.time_last_level, market.time_offset) %></td>
                        </tr>
                    <% } %>
                <% } else { -%>
                    <tr>
                        <td colspan="4"><%= i18n('category_no_achievements', 'player_profile_achievements', lang) %></td>
                    </tr>
                <% } -%>
            </tbody>
        </table>
    </div>
</div>
