<div class="left">
    <h2><%= navigationTitle %></h2>

    <table class="content-border">
        <colgroup>
            <col width="*">
            <col width="60px">
            <col width="70px">
            <col width="150px">
        </colgroup>
        <thead>
            <tr>
                <th><%= i18n.player_profile.achievements.column_name %></th>
                <th><%= i18n.player_profile.achievements.column_points %></th>
                <th><%= i18n.player_profile.achievements.column_milestone %></th>
                <th><%= i18n.player_profile.achievements.column_unlocked_on %></th>
            </tr>
        </thead>
        <tbody>
            <% if (achievementByCategory[selectedCategory].length) { -%>
                <% for (let achievement of achievementByCategory[selectedCategory]) { %>
                    <tr>
                        <td><%= achievementTitles[achievement.type] %></td>
                        <td><%= formatNumbers(achievement.points) %></td>
                        <td><%= achievement.level %> / <%= achievementTypes[achievement.type].levels %></td>
                        <td><%= formatDate(achievement.time_last_level, world.time_offset) %></td>
                    </tr>
                <% } %>
            <% } else { -%>
                <tr>
                    <td colspan="4"><%= i18n.player_profile.achievements.category_no_achievements %></td>
                </tr>
            <% } -%>
        </tbody>
    </table>
</div>
