<div class="content">
    <div class="left">
        <h2><%= i18n('header', 'player_profile_villages') %></h2>
        <table class="section-content">
            <thead>
                <tr>
                    <th><%= i18n('column_name', 'player_profile_villages') %></th>
                    <th><%= i18n('column_coords', 'player_profile_villages') %></th>
                    <th><%= i18n('column_points', 'player_profile_villages') %></th>
                </tr>
            </thead>
            <tbody>
                <% for (let village of villages) { %>
                    <tr class="quick-highlight" data-id="<%= village.id %>" data-type="villages">
                        <td><a class="icon-villages" href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= village.id %>"><%= village.name %></a></td>
                        <td><%= village.x + '|' + village.y %></td>
                        <td><%= formatNumbers(village.points) %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
