<div class="<% __append(subCategory === 'detailed' ? 'single' : 'left') %>">
    <section id="player-achievements-repeatable">
        <h2>
            <%= i18n(selectedCategory, 'achievement_categories', lang) %>
            <%= i18n('achievements', 'player_profile_achievements', lang) %>
            <% __append(subCategory === 'detailed' ? ` (${i18n('detailed', 'player_profile_achievements', lang)})` : '') %>
        </h2>

        <table class="content-border">
            <colgroup>
                <col width="200px">
                <col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th><%= i18n('column_name', 'player_profile_achievements', lang) %></th>
                    <th><% __append(subCategory === 'detailed' ? i18n('column_earned', 'player_profile_achievements', lang) : i18n('column_last_earned', 'player_profile_achievements', lang)) %></th>
                </tr>
            </thead>
            <tbody>
                <% if (achievementsRepeatable.length) { -%>
                    <% if (subCategory === 'detailed') { -%>
                        <% for (let [type, achievementDates] of Object.entries(achievementsRepeatableDetailed)) { %>
                            <tr>
                                <td><%= i18n(type, 'achievements', lang) %> (<%= achievementDates.length %>x)</td>
                                <td><%= achievementDates.join(', ') %></td>
                            </tr>
                        <% } %>
                    <% } else { -%>
                        <% for (let [type, count] of Object.entries(achievementsRepeatableCount)) { %>
                            <tr>
                                <td><%= i18n(type, 'achievements', lang) %> (<%= count %>x)</td>
                                <td><%= achievementsRepeatableLastEarned[type] || i18n('never', 'player_profile_achievements', lang) %></td>
                            </tr>
                        <% } %>
                    <% } -%>
                <% } else { -%>
                    <tr>
                        <td colspan="2"><%= i18n('category_no_achievements', 'player_profile_achievements', lang) %></td>
                    </tr>
                <% } -%>
            </tbody>
        </table>

        <div class="section-actions">
            <% if (subCategory === 'detailed') { -%>
                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/repeatable"><%= i18n('view_simple_achievements', 'player_profile_achievements', lang) %></a>
            <% } else { -%>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/repeatable/detailed"><%= i18n('view_detailed_achievements', 'player_profile_achievements', lang) %></a>
            <% } -%>
        </div>
    </section>
</div>
