<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="sub-menu">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements" class="item <% __append(selectedCategory ? '':  'selected') %>">Overview</li></a>

                <% for (let category of Object.keys(achievementByCategory)) { %>
                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/<%= category %>" class="item <% __append(category === selectedCategory ? 'selected' : '') %>"><%= achievementCategoryTitles[category] %></a>
                <% } %>
            </div>

            <div class="content">
                <%- include(`player-achievements-${categoryTemplate}.ejs`) %>
            </div>
        </main>

        <%- include('../footer.ejs') %>
    </body>
</html>
