<div class="sub-menu">
    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests" class="item <% __append(category === 'all' ? ' selected' : '') %>">All</a>
    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/gain" class="item <% __append(category === 'gain' ? ' selected' : '') %>">Gains</a>
    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/loss" class="item <% __append(category === 'loss' ? ' selected' : '') %>">Losses</a>
    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/self" class="item <% __append(category === 'self' ? ' selected' : '') %>">Self</a>
</div>

<div class="content">
    <div class="conquests-map">
        <section>
            <h2><%= navigationTitle %></h2>

            <div class="content-border">
                <table class="quick-highlight">
                    <thead>
                        <th></th>
                        <th><%= i18n('column_village', 'player_profile_conquests', lang) %></th>
                        <th><%= i18n('column_points', 'player_profile_conquests', lang) %></th>
                        <th><%= i18n('column_old_owner', 'player_profile_conquests', lang) %></th>
                        <th><%= i18n('column_new_owner', 'player_profile_conquests', lang) %></th>
                        <th><%= i18n('column_date_hour', 'player_profile_conquests', lang) %></th>
                    </thead>

                    <tbody>
                        <% if (!conquests.length) { -%>
                            <tr>
                                <td colspan="6"><%= i18n('no_conquests', 'player_profile_conquests', lang) %></td>
                            </tr>
                        <% } else { -%>
                            <% for (let conquest of conquests) { %>
                                <tr data-id="<%= conquest.village_id %>" data-highlight-type="villages">
                                    <td><span class="conquest-<%= conquest.type %>"></span></td>
                                    <td>
                                        <a href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %> (<%= conquest.village_x %>|<%= conquest.village_y %>)</a>
                                    </td>
                                    <td><%= formatNumbers(conquest.village_points_then) %></td>

                                    <% if (conquest.old_owner) { -%>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                            <% if (conquest.old_owner_tribe_id) { -%>
                                                <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                <% } else { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                <% } -%>
                                            <% } -%>
                                        </td>
                                    <% } else { -%>
                                        <td>Abandoned</td>
                                    <% } -%>

                                    <td>
                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                        <% if (conquest.new_owner_tribe_id) { -%>
                                            <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                            <% } else { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                            <% } -%>
                                        <% } -%>
                                    </td>
                                    <td><%= formatDate(conquest.date, world.time_offset, 'hours-only') %></td>
                                </tr>
                            <% } %>
                        <% } -%>
                    </tbody>
                </table>

                <%- include('../pagination.ejs') %>
            </div>
        </section>
    </div>

    <div class="right-really-small">
        <%- include('./map.ejs') %>
    </div>
</div>
