<div class="content">
    <div class="single">
        <section id="search-results" class="section-content">
            <% if (!resultsCount) { %>
                <h3><%= i18n('no_results', 'world_search') %></h3>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>"><%= i18n('go_back', 'world_search') %></a>
            <% } else { %>
                <%- include('search/' + category + '.ejs') %>
                <%- include('../pagination.ejs') %>
            <% } %>
        </section>
    </div>
</div>
