<div class="content">
    <div class="left">
        <section id="players">
            <h2><%= i18n('header_tribe_villages', 'tribe_profile_villages', lang) %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><%= i18n('column_village', 'tribe_profile_villages', lang) %></th>
                            <th><%= i18n('column_coords', 'tribe_profile_villages', lang) %></th>
                            <th><%= i18n('column_points', 'tribe_profile_villages', lang) %></th>
                            <th><%= i18n('column_owner', 'tribe_profile_villages', lang) %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let village of villages) { %>
                            <tr class="quick-highlight" data-id="<%= village.village_id %>" data-type="villages">
                                <td><a class="village-link" href="/stats/<%= marketId %>/<%= worldNumber %>/villages/<%= village.village_id %>/"><%= village.village_name %></a></td>
                                <td><%= village.village_x %>|<%= village.village_y %></td>
                                <td><%= formatNumbers(village.village_points) %></td>
                                <td><a class="player-link" href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= village.player_id %>/"><%= village.player_name %></a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>

                <%- include('../pagination.ejs') %>
            </div>
        </section>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
