<div class="content">
    <div class="left">
        <section id="players">
            <h2><%= i18n('header_tribe_members', 'tribe_profile_members', lang) %></h2>

            <div class="section-content">
                <table class="quick-highlight">
                    <colgroup>
                        <col width="5%">
                        <col width="*">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>

                    <thead>
                        <th><%= i18n('column_rank', 'tribe_profile_members', lang) %></th>
                        <th><%= i18n('column_name', 'tribe_profile_members', lang) %></th>
                        <th><%= i18n('column_points', 'tribe_profile_members', lang) %></th>
                        <th><%= i18n('column_villages', 'tribe_profile_members', lang) %></th>
                    </thead>

                    <tbody>
                        <% if (!members.length) { %>
                            <tr>
                                <td colspan="4"><%= i18n('no_members', 'tribe_profile_members', lang) %></td>
                            </tr>
                        <% } %>

                        <% for (let member of members) { %>
                            <tr data-id="<%= member.id %>" data-highlight-type="players">
                                <td><%= formatNumbers(member.rank) %></td>
                                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= member.id %>"><%= member.name %></a></td>
                                <td><%= formatNumbers(member.points) %></td>
                                <td><%= formatNumbers(member.villages) %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
