<div class="content">
    <div class="left">
        <section id="tribe">
            <h2><%= i18n('header_tribe_profile', 'tribe_profile', lang) %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><%= i18n('tribe_rank', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.rank) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_name', 'tribe_profile', lang) %></th>
                            <td><%= tribe.name %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_tag', 'tribe_profile', lang) %></th>
                            <td><%= tribe.tag %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_level', 'tribe_profile', lang) %></th>
                            <td><%= tribe.level %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_villages', 'tribe_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/villages"><%= formatNumbers(tribe.villages) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_points', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.points) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_members', 'tribe_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/members"><%= formatNumbers(tribe.members) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_bash_attack', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.bash_points_off) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_bash_defense', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.bash_points_def) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_avg_points_member', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.points_per_member) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_avg_points_village', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.points_per_villages) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_member_changes', 'tribe_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/member-changes"><%= formatNumbers(memberChangesCount) %></a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_conquests', 'tribe_profile', lang) %></th>
                            <td>
                                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests"><%= formatNumbers(conquestCount) %></a>
                                (+<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/gain"><%= formatNumbers(conquestGainCount) %></a>
                                -<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/loss"><%= formatNumbers(conquestLossCount) %></a>
                                =<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/self"><%= formatNumbers(conquestSelfCount) %></a>)
                            </td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_achievements', 'tribe_profile', lang) %></th>
                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/achievements"><%= achievementsRepeatableCount %>x</a></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_record_rank', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.best_rank) %> <small class="right"><%= formatDate(tribe.best_rank_date, market.time_offset, 'hours-only') %></small></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_record_points', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.best_points) %> <small class="right"><%= formatDate(tribe.best_points_date, market.time_offset, 'hours-only') %></small></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_record_villages', 'tribe_profile', lang) %></th>
                            <td><%= formatNumbers(tribe.best_villages) %> <small class="right"><%= formatDate(tribe.best_villages_date, market.time_offset, 'hours-only') %></small></td>
                        </tr>
                        <tr>
                            <th><%= i18n('tribe_first_seen', 'tribe_profile', lang) %></th>
                            <td><%= formatDate(tribe.first_seen) %></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="tribe-latest-history">
            <h2><%= i18n('header_last_history', 'tribe_profile', lang) %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><%= i18n('column_date', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_rank', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_members', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_points', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_villages', 'tribe_profile', lang) %></th>
                            <% if (world.config.victory_points) { -%>
                                <th><%= i18n('column_victory_points', 'tribe_profile', lang) %></th>
                            <% } -%>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (history.length) { -%>
                            <% for (let item of history) { %>
                                <tr>
                                    <td><%= formatDate(item.date, market.time_offset, 'day-only') %></td>
                                    <td><span class="history-change-type <%= item.rank_change %>"></span><%= formatNumbers(item.rank) %></td>
                                    <td><span class="history-change-type <%= item.members_change %>"></span><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= item.tribe_id %>/member-changes"><%= formatNumbers(item.members) %></a></td>
                                    <td><span class="history-change-type <%= item.points_change %>"></span><%= formatNumbers(item.points) %></td>
                                    <td><span class="history-change-type <%= item.villages_change %>"></span><%= formatNumbers(item.villages) %></td>
                                    <% if (world.config.victory_points) { -%>
                                        <td><span class="history-change-type <%= item.victory_points_change %>"></span><%= formatNumbers(item.victory_points) %></td>
                                    <% } -%>
                                </tr>
                            <% } %>
                        <% } else { -%>
                            <tr><td colspan="6"><%= i18n('no_history', 'tribe_profile', lang) %></td></tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/history"><%= i18n('view_tribe_history', 'tribe_profile', lang) %></a>
            </div>
        </section>

        <section id="tribe-latest-conquests">
            <h2><%= i18n('header_last_conquests', 'tribe_profile', lang) %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th><%= i18n('column_village', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_points', 'tribe_profile', lang) %></th>
                            <th><%= i18n('column_date_hour', 'tribe_profile', lang) %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (!conquests.length) { -%>
                            <tr>
                                <td colspan="6"><%= i18n('no_conquests', 'tribe_profile', lang) %></td>
                            </tr>
                        <% } else { -%>
                            <% for (let conquest of conquests) { %>
                                <tr class="quick-highlight" data-id="<%= conquest.village_id %>" data-old-owner="<%= conquest.old_owner %>" data-new-owner="<%= conquest.new_owner %>" data-type="conquest">
                                    <td><span class="conquest-<%= conquest.type %>"></span></td>
                                    <td>
                                        <a class="village-link" href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %> (<%= conquest.village_x %>|<%= conquest.village_y %>)</a>
                                    </td>
                                    <td><%= formatNumbers(conquest.village_points_then) %></td>
                                    <td title="<%= formatDate(conquest.date, market.time_offset, 'hours-only') %>"><%= formatSince(conquest.date, lang) %></td>
                                </tr>
                            <% } %>
                        <% } -%>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests"><%= i18n('view_tribe_conquests', 'tribe_profile', lang) %></a>
            </div>
        </section>

        <section id="tribe-latest-achievements">
            <h2><%= i18n('header_last_achievements', 'tribe_profile', lang) %></h2>

            <div class="section-content">
                <table>
                    <colgroup>
                        <col width="*">
                        <col width="130px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th><%= i18n('achievement_name', 'tribe_profile', lang) %></th>
                            <th><%= i18n('achievement_date_time', 'tribe_profile', lang) %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (achievementsLatest.length) { -%>
                            <% for (let achievement of achievementsLatest) { -%>
                                <tr>
                                    <% if (achievement.category === 'repeatable') { -%>
                                        <td><%= i18n(achievement.type, 'achievements', lang) %></td>
                                        <td><%= formatDate(achievement.time_last_level, market.time_offset, 'day-only') %></td>
                                    <% } else { -%>
                                        <td><%= i18n(achievement.type, 'achievements', lang) %></td>
                                        <td><%= formatDate(achievement.time_last_level, market.time_offset, 'hours-only') %></td>
                                    <% } -%>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_recent_achievements', 'tribe_profile', lang) %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/achievements"><%= i18n('view_tribe_achievements', 'tribe_profile', lang) %></a>
            </div>
        </section>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
