<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="players">
                        <h2><%= i18n.tribe_profile.villages.header_tribe_villages %></h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="*">
                                    <col width="70px">
                                    <col width="60px">
                                    <col width="*">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th><%= i18n.tribe_profile.villages.column_village %></th>
                                        <th><%= i18n.tribe_profile.villages.column_coords %></th>
                                        <th><%= i18n.tribe_profile.villages.column_points %></th>
                                        <th><%= i18n.tribe_profile.villages.column_owner %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let village of villages) { %>
                                        <tr data-id="<%= village.village_id %>" data-highlight-type="villages">
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/villages/<%= village.village_id %>/"><%= village.village_name %></a></td>
                                            <td><%= village.village_x %>|<%= village.village_y %></td>
                                            <td><%= formatNumbers(village.village_points) %></td>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= village.player_id %>/"><%= village.player_name %></a></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>

                            <%- include('../pagination.ejs') %>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2><%= i18n.stats_map.header_map %></h2>

                        <div id="map" class="content-border"></div>

                        <div class="section-actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>"><%= i18n.stats_map.view_world_map %></a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
