<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="sub-menu">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests" class="item <% __append(category === 'all' ? ' selected' : '') %>">All</a>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/gain" class="item <% __append(category === 'gain' ? ' selected' : '') %>">Gains</a>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/loss" class="item <% __append(category === 'loss' ? ' selected' : '') %>">Losses</a>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/conquests/self" class="item <% __append(category === 'self' ? ' selected' : '') %>">Self</a>
            </div>

            <div class="content">
                <div class="left-really-big">
                    <section id="players">
                        <h2><%= navigationTitle %></h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="1%">
                                    <col width="*">
                                    <col width="5%">
                                    <col width="*">
                                    <col width="*">
                                    <col width="14%">
                                </colgroup>

                                <thead>
                                    <th></th>
                                    <th>Village</th>
                                    <th>Points</th>
                                    <th>Old owner</th>
                                    <th>New owner</th>
                                    <th>Date/Hour</th>
                                </thead>

                                <tbody>
                                    <% if (!conquests.length) { -%>
                                        <tr>
                                            <td colspan="6">No conquests yet.</td>
                                        </tr>
                                    <% } else { -%>
                                        <% for (let conquest of conquests) { %>
                                            <tr data-id="<%= conquest.village_id %>" data-highlight-type="villages">
                                                <td><span class="conquest-<%= conquest.type %>"></span></td>
                                                <td>
                                                    <a href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %> (<%= conquest.village_x %>|<%= conquest.village_y %>)</a>
                                                </td>
                                                <td><%= formatNumbers(conquest.village_points_then) %></td>

                                                <% if (conquest.old_owner) { -%>
                                                    <td>
                                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                                        <% if (conquest.old_owner_tribe_id) { -%>
                                                            <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                            <% } else { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                            <% } -%>
                                                        <% } -%>
                                                    </td>
                                                <% } else { -%>
                                                    <td>Abandoned</td>
                                                <% } -%>

                                                <td>
                                                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                                    <% if (conquest.new_owner_tribe_id) { -%>
                                                        <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                                        <% } else { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                                        <% } -%>
                                                    <% } -%>
                                                </td>
                                                <td><%= formatDate(conquest.date, world.time_offset, 'hours-only') %></td>
                                            </tr>
                                        <% } %>
                                    <% } -%>
                                </tbody>
                            </table>

                            <%- include('../pagination.ejs') %>
                        </div>
                    </section>
                </div>

                <div class="right-really-small">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="section-actions">
                            <a href="/maps/<%= marketId %>/<%= world.num %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
