<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="<% __append(subCategory === 'detailed' ? 'single' : 'left') %>">
                    <section class="tribe-achievements">
                        <h2>Daily / Weekly Achievements<th><% __append(subCategory === 'detailed' ? ' (Detailed)' : '') %></th></h2>

                        <table class="content-border">
                            <colgroup>
                                <col width="200px">
                                <col width="*">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th><% __append(subCategory === 'detailed' ? 'Earned on' : 'Last earned on') %></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (achievementsRepeatableGeralCount) { -%>
                                    <% if (subCategory === 'detailed') { -%>
                                        <% for (let [type, achievementDates] of Object.entries(achievementsRepeatableDetailed)) { %>
                                            <tr>
                                                <td><%= achievementTitles[type] %> (<%= achievementDates.length %>x)</td>
                                                <td><%= achievementDates.join(', ') %></td>
                                            </tr>
                                        <% } %>
                                    <% } else { -%>
                                        <% for (let [type, count] of Object.entries(achievementsRepeatableCategoryCount)) { %>
                                            <tr>
                                                <td><%= achievementTitles[type] %> (<%= count %>x)</td>
                                                <td><%= achievementsRepeatableLastEarned[type] || 'Never' %></td>
                                            </tr>
                                        <% } %>
                                    <% } -%>
                                <% } else { -%>
                                    <tr>
                                        <td colspan="2">No achievements on this category yet.</td>
                                    </tr>
                                <% } -%>
                            </tbody>
                        </table>

                        <div class="actions">
                            <% if (subCategory === 'detailed') { -%>
                                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/achievements">Simplified daily/weekly achievement's view</a>
                            <% } else { -%>
                                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>/achievements/detailed">Detailed daily/weekly achievement's view</a>
                            <% } -%>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../footer.ejs') %>
    </body>
</html>
