<div class="content">
    <div class="left">
        <section id="village">
            <h2><%= i18n('header_village_profile', 'village_profile', lang) %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><%= i18n('village_name', 'village_profile', lang) %></th>
                            <td><%= village.name %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('village_location', 'village_profile', lang) %></th>
                            <td><%= village.x %>|<%= village.y %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('village_points', 'village_profile', lang) %></th>
                            <td><%= formatNumbers(village.points) %></td>
                        </tr>
                        <tr>
                            <th><%= i18n('village_owner', 'village_profile', lang) %></th>
                            <% if (village.character_id) { -%>
                                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= village.character_id %>"><%= village.player_name %></a></td>
                            <% } else { -%>
                                <td><%= i18n('abandoned_village', 'village_profile', lang) %></td>
                            <% } -%>
                        </tr>
                        <tr>
                            <th><%= i18n('village_owner_tribe', 'village_profile', lang) %></th>
                            <% if (village.character_id && village.tribe_id) { -%>
                                <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= village.tribe_id %>"><%= village.tribe_tag %></a></td>
                            <% } else { -%>
                                <td>-</td>
                            <% } -%>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3><%= i18n('header_conquest_history', 'village_profile', lang) %></h3>
            <div class="section-content">
                <table>
                    <colgroup>
                        <col width="20%">
                        <col width="10%">
                        <col width="*">
                        <col width="*">
                    </colgroup>

                    <thead>
                        <th><%= i18n('conquest_date_hour', 'village_profile', lang) %></th>
                        <th><%= i18n('conquest_points', 'village_profile', lang) %></th>
                        <th><%= i18n('conquest_old_owner', 'village_profile', lang) %></th>
                        <th><%= i18n('conquest_new_owner', 'village_profile', lang) %></th>
                    </thead>

                    <tbody>
                        <% if (!conquests.length) { -%>
                            <tr>
                                <td colspan="4"><%= i18n('no_conquests', 'village_profile', lang) %></td>
                            </tr>
                        <% } else { -%>
                            <% for (let conquest of conquests) { %>
                                <tr data-id="<%= conquest.village_id %>" data-type="villages">
                                    <td><%= formatDate(conquest.date, world.time_offset, 'hours-only') %></td>
                                    <td><%= formatNumbers(conquest.village_points_then) %></td>

                                    <% if (conquest.old_owner) { -%>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                            <% if (conquest.old_owner_tribe_id) { -%>
                                                <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                <% } else { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                <% } -%>
                                            <% } -%>
                                        </td>
                                    <% } else { -%>
                                        <td><%= i18n('abandoned_village', 'village_profile', lang) %></td>
                                    <% } -%>

                                    <td>
                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                        <% if (conquest.new_owner_tribe_id) { -%>
                                            <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                            <% } else { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                            <% } -%>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } %>
                        <% } -%>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="right">
        <%- include('./map.ejs') %>
    </div>
</div>
