<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header id="main-header"></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="village">
                        <h2><%= i18n.village_profile.header_village_profile %></h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="50%">
                                    <col width="50%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th><%= i18n.village_profile.village_name %></th>
                                        <td><%= village.name %></td>
                                    </tr>
                                    <tr>
                                        <th><%= i18n.village_profile.village_location %></th>
                                        <td><%= village.x %>|<%= village.y %></td>
                                    </tr>
                                    <tr>
                                        <th><%= i18n.village_profile.village_points %></th>
                                        <td><%= formatNumbers(village.points) %></td>
                                    </tr>
                                    <tr>
                                        <th><%= i18n.village_profile.village_owner %></th>
                                        <% if (village.character_id) { -%>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= village.character_id %>"><%= village.player_name %></a></td>
                                        <% } else { -%>
                                            <td><%= i18n.village_profile.abandoned %></td>
                                        <% } -%>
                                    </tr>
                                    <tr>
                                        <th><%= i18n.village_profile.village_owner_tribe %></th>
                                        <% if (village.character_id && village.tribe_id) { -%>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= village.tribe_id %>"><%= village.tribe_tag %></a></td>
                                        <% } else { -%>
                                            <td>-</td>
                                        <% } -%>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <h3><%= i18n.village_profile.header_conquest_history %></h3>
                        <div class="content-border">
                            <table>
                                <colgroup>
                                    <col width="20%">
                                    <col width="10%">
                                    <col width="*">
                                    <col width="*">
                                </colgroup>

                                <thead>
                                    <th><%= i18n.village_profile.conquest_date_hour %></th>
                                    <th><%= i18n.village_profile.conquest_points %></th>
                                    <th><%= i18n.village_profile.conquest_old_owner %></th>
                                    <th><%= i18n.village_profile.conquest_new_owner %></th>
                                </thead>

                                <tbody>
                                    <% if (!conquests.length) { -%>
                                        <tr>
                                            <td colspan="4"><%= i18n.village_profile.no_conquests %></td>
                                        </tr>
                                    <% } else { -%>
                                        <% for (let conquest of conquests) { %>
                                            <tr data-id="<%= conquest.village_id %>" data-highlight-type="villages">
                                                <td><%= formatDate(conquest.date, world.time_offset, 'hours-only') %></td>
                                                <td><%= formatNumbers(conquest.village_points_then) %></td>

                                                <% if (conquest.old_owner) { -%>
                                                    <td>
                                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                                        <% if (conquest.old_owner_tribe_id) { -%>
                                                            <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                            <% } else { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                            <% } -%>
                                                        <% } -%>
                                                    </td>
                                                <% } else { -%>
                                                    <td><%= i18n.village_profile.abandoned %></td>
                                                <% } -%>

                                                <td>
                                                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                                    <% if (conquest.new_owner_tribe_id) { -%>
                                                        <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                                        <% } else { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                                        <% } -%>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2><%= i18n.stats_map.header_map %></h2>

                        <div id="map" class="content-border"></div>

                        <div class="section-actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>"><%= i18n.stats_map.view_world_map %></a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
