<% if (world.incomplete_data) { -%>
    <p class="error"><%= i18n('missing_data_warning', 'world') %></p>
<% } -%>

<div class="content">
    <div class="increase-20">
        <section id="search">
            <h2><%= i18n('header_search', 'world') %></h2>

            <div class="section-content">
                <ul class="content-menu" id="search-categories">
                   <li data-search-category="players" class="selected"><%= i18n('search_players', 'world') %></li>
                   <li data-search-category="tribes"><%= i18n('search_tribes', 'world') %></li>
                   <li data-search-category="villages"><%= i18n('search_villages', 'world') %></li>
                </ul>
                <div class="wrapper">
                    <form method="POST" action="/stats/<%= marketId %>/<%= world.world_number %>/search">
                        <label for="search-input" class="hidden"><%= i18n('search_label', 'world') %></label>
                        <input type="text" id="search-input" class="relax-input" name="query" autocomplete="off" maxlength="20" minlength="3">
                        <input type="submit" value="<%= i18n('search_search', 'world') %>" class="relax-button">
                        <input type="hidden" id="search-category" name="category" value="players">
                    </form>
                </div>
            </div>
        </section>

        <section id="tribes">
            <h2><%= i18n('header_tribes', 'world') %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><a href="?tsort=rank"><%= i18n('column_rank', 'world') %> <span class="icon-sort <% if (tribeRankingSortField === 'rank') __append('selected') %>"></span></a></th>
                            <th><%= i18n('column_tribe', 'world') %></th>
                            <th><%= i18n('column_members', 'world') %></th>
                            <th><a href="?tsort=points"><%= i18n('column_points', 'world') %> <span class="icon-sort <% if (tribeRankingSortField === 'points') __append('selected') %>"></span></a></th>
                            <% if (world.config && world.config.victory_points) { -%>
                                <th title="<%= i18n('column_victory_points_full', 'world') %>"><a href="?tsort=victory_points"><%= i18n('column_victory_points', 'world') %> <span class="icon-sort <% if (tribeRankingSortField === 'victory_points') __append('selected') %>"></span></a></th>
                            <% } -%>
                            <th><a href="?tsort=villages"><%= i18n('column_villages', 'world') %> <span class="icon-sort <% if (tribeRankingSortField === 'villages') __append('selected') %>"></span></a></th>
                            <% if (world.config && !world.config.victory_points) { -%>
                                <th title="<%= i18n('column_domination_full', 'world') %>"><%= i18n('column_domination', 'world') %></th>
                            <% } -%>
                        </tr>
                    </thead>
                    <tbody>
                        <% let i = 0; %>
                        <% for (let tribe of tribes) { %>
                            <tr class="quick-highlight" data-id="<%= tribe.id %>" data-type="tribes">
                                <td><%= tribe.rank %></td>
                                <td class="limit-size">
                                    <a class="icon-tribes" href="/stats/<%= marketId %>/<%= world.world_number %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                                    <% if (i++ < 3) { %>
                                        <div class="top-colors"></div>
                                    <% } %>
                                </td>
                                <td><%= formatNumbers(tribe.members) %></td>
                                <td><%= formatNumbers(tribe.points) %></td>

                                <% if (world.config && world.config.victory_points) { -%>
                                    <td><%= formatNumbers(tribe.victory_points) %></td>
                                <% } -%>

                                <td><%= formatNumbers(tribe.villages) %></td>

                                <% if (world.config && !world.config.victory_points) { -%>
                                    <td><%= tribe.domination %>%</td>
                                <% } -%>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= world.world_number %>/ranking/tribes"><%= i18n('view_tribes_ranking', 'world') %></a>
            </div>
        </section>

        <section id="players">
            <h2><%= i18n('header_players', 'world') %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><a href="?psort=rank"><%= i18n('column_rank', 'world') %> <span class="icon-sort <% if (playerRankingSortField === 'rank') __append('selected') %>"></span></a></th>
                            <th><%= i18n('column_player', 'world') %></th>
                            <th><%= i18n('column_tribe', 'world') %></th>
                            <th><a href="?psort=points"><%= i18n('column_points', 'world') %> <span class="icon-sort <% if (playerRankingSortField === 'points') __append('selected') %>"></span></a></th>
                            <% if (world.config && world.config.victory_points) { -%>
                                <th title="Victory Points"><a href="?psort=victory_points"><%= i18n('column_victory_points', 'world') %> <span class="icon-sort <% if (playerRankingSortField === 'victory_points') __append('selected') %>"></span></a></th>
                            <% } -%>
                            <th><a href="?psort=villages"><%= i18n('column_villages', 'world') %> <span class="icon-sort <% if (playerRankingSortField === 'villages') __append('selected') %>"></span></a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let player of players) { %>
                            <tr class="quick-highlight" data-id="<%= player.id %>" data-type="players">
                                <td><%= player.rank %></td>
                                <td class="limit-size"><a class="icon-players" href="/stats/<%= marketId %>/<%= world.world_number %>/players/<%= player.id %>"><%= player.name %></a></td>

                                <% if (player.tribe_id) { -%>
                                    <td><a class="icon-tribes" href="/stats/<%= marketId %>/<%= world.world_number %>/tribes/<%= player.tribe_id %>"><%= player.tribe_tag %></a></td>
                                <% } else { -%>
                                    <td>-</td>
                                <% } -%>

                                <td><%= formatNumbers(player.points) %></td>

                                <% if (world.config && world.config.victory_points) { -%>
                                    <td><%= formatNumbers(player.victory_points) %></td>
                                <% } -%>

                                <td><%= formatNumbers(player.villages) %></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= world.world_number %>/ranking/players"><%= i18n('view_players_ranking', 'world') %></a>
            </div>
        </section>

        <section id="last-conquests">
            <h2><%= i18n('header_conquests', 'world') %></h2>

            <div class="section-content">
                <table>
                    <thead>
                        <tr>
                            <th><%= i18n('column_village', 'world') %></th>
                            <th><%= i18n('column_coords', 'world') %></th>
                            <th><%= i18n('column_points', 'world') %></th>
                            <th><%= i18n('column_old_owner', 'world') %></th>
                            <th><%= i18n('column_new_owner', 'world') %></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% if (!lastConquests.length) { -%>
                            <tr>
                                <td colspan="5"><%= i18n('no_conquests', 'world') %></td>
                            </tr>
                        <% } else { -%>
                            <% for (let conquest of lastConquests) { %>
                                <tr class="quick-highlight" data-id="<%= conquest.village_id %>" data-old-owner="<%= conquest.old_owner %>" data-new-owner="<%= conquest.new_owner %>" data-type="conquest">
                                    <td class="limit-size"><a class="icon-villages" href="/stats/<%= marketId %>/<%= world.world_number %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %></a></td>
                                    <td><%= conquest.village_x %>|<%= conquest.village_y %></td>
                                    <td><%= formatNumbers(conquest.village_points_then) %></td>

                                    <% if (conquest.old_owner) { -%>
                                        <td>
                                            <a class="icon-players" href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                            <% if (conquest.old_owner_tribe_id) { -%>
                                                <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                <% } else { -%>
                                                    [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                <% } -%>
                                            <% } -%>
                                        </td>
                                    <% } else { -%>
                                        <td><%= i18n('abandoned_village', 'world') %></td>
                                    <% } -%>

                                    <td class="limit-size">
                                        <a class="icon-players" href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                        <% if (conquest.new_owner_tribe_id) { -%>
                                            <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                            <% } else { -%>
                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                            <% } -%>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } %>
                        <% } -%>
                    </tbody>
                </table>
            </div>

            <div class="section-actions">
                <a href="/stats/<%= marketId %>/<%= world.world_number %>/conquests"><%= i18n('view_world_conquests', 'world') %></a>
            </div>
        </section>

        <section id="daily-players-achievements">
            <h2><%= i18n('header_daily_players_achievements', 'world') %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="*">
                    </colgroup>

                    <tbody>
                        <% if (achievements.counts.players.daily) { -%>
                            <% for (let [type, players] of achievements.groups.players.daily) { -%>
                                <tr>
                                    <th><%= i18n(type, 'achievements') %>:</th>
                                    <td>
                                        <% for (let player of players) { -%>
                                            <a class="icon-players achievement-subject quick-highlight" data-id="<%= player.character_id %>" data-type="players" href="/stats/<%= marketId %>/<%= world.world_number %>/players/<%= player.character_id %>"><%= player.player_name %></a>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_daily_achievements', 'world') %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="weekly-players-achievements">
            <h2><%= i18n('header_weekly_players_achievements', 'world') %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="*">
                    </colgroup>

                    <tbody>
                        <% if (achievements.counts.players.weekly) { -%>
                            <% for (let [type, players] of achievements.groups.players.weekly) { -%>
                                <tr>
                                    <th><%= i18n(type, 'achievements') %>:</th>
                                    <td>
                                        <% for (let player of players) { -%>
                                            <a class="icon-players achievement-subject quick-highlight" data-id="<%= player.character_id %>" data-type="players" href="/stats/<%= marketId %>/<%= world.world_number %>/players/<%= player.character_id %>"><%= player.player_name %></a>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_weekly_achievements', 'world') %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="daily-tribes-achievements">
            <h2><%= i18n('header_daily_tribes_achievements', 'world') %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="*">
                    </colgroup>

                    <tbody>
                        <% if (achievements.counts.tribes.daily) { -%>
                            <% for (let [type, tribes] of achievements.groups.tribes.daily) { -%>
                                <tr>
                                    <th><%= i18n(type, 'achievements') %>:</th>
                                    <td>
                                        <% for (let tribe of tribes) { -%>
                                            <a class="icon-tribes achievement-subject quick-highlight" data-id="<%= tribe.tribe_id %>" data-type="tribes" href="/stats/<%= marketId %>/<%= world.world_number %>/tribes/<%= tribe.tribe_id %>"><%= tribe.tribe_tag %></a>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_daily_achievements', 'world') %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="weekly-tribes-achievements">
            <h2><%= i18n('header_weekly_tribes_achievements', 'world') %></h2>

            <div class="section-content">
                <table class="vertical">
                    <colgroup>
                        <col width="50%">
                        <col width="*">
                    </colgroup>

                    <tbody>
                        <% if (achievements.counts.tribes.weekly) { -%>
                            <% for (let [type, tribes] of achievements.groups.tribes.weekly) { -%>
                                <tr>
                                    <th><%= i18n(type, 'achievements') %>:</th>
                                    <td>
                                        <% for (let tribe of tribes) { -%>
                                            <a class="icon-tribes achievement-subject quick-highlight" data-id="<%= tribe.tribe_id %>" data-type="tribes" href="/stats/<%= marketId %>/<%= world.world_number %>/tribes/<%= tribe.tribe_id %>"><%= tribe.tribe_tag %></a>
                                        <% } -%>
                                    </td>
                                </tr>
                            <% } -%>
                        <% } else { -%>
                            <tr>
                                <td colspan="2"><%= i18n('no_weekly_achievements', 'world') %></td>
                            </tr>
                        <% } -%>
                    </tbody>
                </table>
            </div>
        </section>

        <section>
            <h2><%= i18n('header_stats', 'world') %></h2>

            <div class="section-content">
                <table>
                    <tr>
                        <td><%= i18n('stats_players', 'world', [formatNumbers(world.player_count)]) %></td>
                    </tr>
                    <tr>
                        <td><%= i18n('stats_villages', 'world', [formatNumbers(world.village_count)]) %></td>
                    </tr>
                    <tr>
                        <td><%= i18n('stats_tribes', 'world', [formatNumbers(world.tribe_count)]) %></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>

    <div>
        <%- include('./map.ejs') %>
    </div>

    <script defer type="text/javascript" src="/javascripts/search.js"></script>
</div>
