<div class="content">
    <div class="single">
        <div id="accounts">

            <section>
                <h1>Add Account</h1>

                <div class="content-border">
                    <div class="account world-container">
                        <form method="POST" action="/admin/accounts/create">
                            <p>
                                <span>Name:</span>
                                <input type="text" class="relax-input" name="name" minlength="4">
                            </p>
                            <p>
                                <span>Pass:</span>
                                <input type="text" class="relax-input" name="pass" minlength="4">
                            </p>

                            <input type="submit"  class="relax-button small" value="Add account"/>
                        </form>
                    </div>
                </div>
            </section>

            <section>
                <h1>Accounts</h1>

                <div class="content-border">
                    <% for (let account of accounts) { %>
                        <div class="account account-<%= account.id %> world-container" data-account-id="<%= account.id %>">
                            <form method="POST" action="/admin/accounts/edit">
                                <p>
                                    <span>Name:</span>
                                    <input type="text" class="relax-input" name="name" value="<%= account.name %>">
                                </p>
                                <p>
                                    <span>Pass:</span>
                                    <input type="text" class="relax-input" name="pass" value="<%= account.pass %>">
                                </p>

                                <input type="hidden" name="id" value="<%= account.id %>" />
                                <input type="submit" hidden />
                            </form>

                            <fieldset>
                                <legend>Account markets:</legend>
                                <% if (account.markets.length) { %>
                                    <% for (let marketId of account.markets) { %>
                                        <a href="/admin/accounts/markets/remove/<%= account.id %>/<%= marketId %>"><span title="Click to remove market:<%= marketId %>" class="flag-<%= marketId %>"></span></a>
                                    <% } %>
                                <% } else { %>
                                    <span>No markets included.</span>
                                <% } %>
                            </fieldset>

                            <fieldset>
                                <legend>Available markets:</legend>
                                <% if (account.missingMarkets.length) { %>
                                    <% for (let marketId of account.missingMarkets) { %>
                                        <a href="/admin/accounts/markets/add/<%= account.id %>/<%= marketId %>"><span title="Click to add market:<%= marketId %>" class="flag-<%= marketId %>"></span></a>
                                    <% } %>
                                <% } else { %>
                                    <span>All markets included.</span>
                                <% } %>
                            </fieldset>

                            <div class="actions">
                                <a class="relax-button small" href="/admin/accounts/markets/add/<%= account.id %>">Add markets</a>
                                <a class="relax-button small" href="/admin/accounts/markets/remove/<%= account.id %>">Test account</a>
                                <a class="relax-button small red" href="/admin/accounts/delete/<%= account.id %>">Delete account</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </section>
        </div>
    </div>
</div>
