<div class="content" id="accounts">
    <div class="left">
        <section>
            <h1><%= i18n('header_accounts', 'admin_sync_accounts') %></h1>

            <div class="section-content">
                <% for (let account of accounts) { %>
                    <div id="account-<%= account.id %>" class="account relax-container">
                        <form method="POST" action="/admin/accounts/edit" class="form">
                            <label class="input">
                                <span><%= i18n('username_label', 'admin') %></span>
                                <input type="text" class="relax-input" name="name" value="<%= account.name %>" minlength="4">
                            </label>
                            <label class="input">
                                <span><%= i18n('password_label', 'admin') %></span>
                                <input type="password" class="relax-input" name="pass" value="<%= account.pass %>" minlength="4">
                            </label>

                            <input type="hidden" name="id" value="<%= account.id %>" />
                            <input type="submit" hidden />
                        </form>

                        <fieldset>
                            <legend><%= i18n('account_markets', 'admin_sync_accounts') %></legend>
                            <% if (account.markets.length) { %>
                                <% for (let marketId of account.markets) { %>
                                    <a href="/admin/accounts/markets/remove/<%= account.id %>/<%= marketId %>"><span title="<%= i18n('click_to_remove', 'admin_sync_accounts') %>:<%= marketId %>" class="flag-<%= marketId %>"></span></a>
                                <% } %>
                            <% } else { %>
                                <span><%= i18n('no_markets', 'admin_sync_accounts') %></span>
                            <% } %>
                        </fieldset>

                        <fieldset>
                            <legend><%= i18n('available_markets', 'admin_sync_accounts') %></legend>
                            <% if (account.missingMarkets.length) { %>
                                <% for (let marketId of account.missingMarkets) { %>
                                    <a href="/admin/accounts/markets/add/<%= account.id %>/<%= marketId %>"><span title="<%= i18n('click_to_add', 'admin_sync_accounts') %>:<%= marketId %>" class="flag-<%= marketId %>"></span></a>
                                <% } %>
                            <% } else { %>
                                <span><%= i18n('all_markets', 'admin_sync_accounts') %></span>
                            <% } %>
                        </fieldset>

                        <div class="actions">
                            <a class="relax-button" href="/admin/accounts/test/<%= account.id %>"><%= i18n('test_account', 'admin_sync_accounts') %></a>
                            <a class="relax-button red right" href="/admin/accounts/delete/<%= account.id %>"><%= i18n('delete_account', 'admin_sync_accounts') %></a>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>

    <div class="right">
        <section>
            <h1><%= i18n('header_add_account', 'admin_sync_accounts') %></h1>

            <div class="section-content">
                <div class="account relax-container">
                    <form method="POST" action="/admin/accounts/create" class="form">
                        <label class="input">
                            <span><%= i18n('username_label', 'admin') %></span>
                            <input type="text" class="relax-input" name="name" minlength="4">
                        </label>

                        <label class="input">
                            <span><%= i18n('password_label', 'admin') %></span>
                            <input type="text" class="relax-input" name="pass" minlength="4">
                        </label>

                        <div class="actions">
                            <input type="submit"  class="relax-button" value="<%= i18n('add_account', 'admin_sync_accounts') %>"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
