<div class="content" id="mods">
    <div class="left">
        <section id="mods-panel">
            <h1><%= i18n.admin.mod_accounts.header_mod_accounts %></h1>

            <div class="content-border">
                <% for (let mod of mods) { %>
                    <div id="mod-<%= mod.id %>" class="mod world-container">
                        <form method="POST" action="/admin/mods/edit">
                            <label class="input">
                                <span><%= i18n.admin.username_label %></span>
                                <input type="text" class="relax-input" name="name" value="<%= mod.name %>" minlength="3" required>
                            </label>
                            <label class="input">
                                <span><%= i18n.admin.password_label %></span>
                                <input type="text" class="relax-input" name="pass" minlength="4" placeholder="<%= i18n.admin.keep_password_placehold %>">
                            </label>
                            <label class="input">
                                <span><%= i18n.admin.email_label %></span>
                                <input type="email" class="relax-input" name="email" value="<%= mod.email %>" required>
                            </label>

                            <fieldset class="align-checkbox">
                                <legend><%= i18n.admin.mod_accounts.privilege_list %></legend>

                                <% for (let privilege of modPrivilegeTypes) { %>
                                    <label>
                                        <input type="checkbox" name="privileges" value="<%= privilege %>" <% __append(mod.privileges.includes(privilege) ? 'checked' : '') %>/>
                                        <span><%= i18n.admin.mod_accounts.privileges[privilege] %></span>
                                    </label>
                                <% } %>
                            </fieldset>

                            <input type="hidden" name="id" value="<%= mod.id %>" />

                            <div class="actions">
                                <input type="submit" class="relax-button" value="<%= i18n.admin.mod_accounts.save %>" />
                                <a class="relax-button red right" href="/admin/mods/delete/<%= mod.id %>"><%= i18n.admin.mod_accounts.delete %></a>
                            </div>
                        </form>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
    <div class="right">
        <section>
            <h1><%= i18n.admin.mod_accounts.header_add_account %></h1>

            <div class="content-border">
                <div class="world-container">
                    <form method="POST" action="/admin/mods/create">
                        <label class="input">
                            <span><%= i18n.admin.username_label %></span>
                            <input type="text" class="relax-input" name="name" minlength="3" required>
                        </label>

                        <label class="input">
                            <span><%= i18n.admin.password_label %></span>
                            <input type="text" class="relax-input" name="pass" minlength="4" required>
                        </label>

                        <label class="input">
                            <span><%= i18n.admin.email_label %></span>
                            <input type="email" class="relax-input" name="email">
                        </label>

                        <fieldset class="align-checkbox">
                            <legend><%= i18n.admin.mod_accounts.privilege_list %></legend>

                            <% for (let privilege of modPrivilegeTypes) { %>
                                <label>
                                    <input type="checkbox" name="privileges" value="<%= privilege %>" />
                                    <span><%= i18n.admin.mod_accounts.privileges[privilege] %></span>
                                </label>
                            <% } %>
                        </fieldset>

                        <div class="actions">
                            <input type="submit"  class="relax-button" value="<%= i18n.admin.mod_accounts.create %>"/>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
