<div class="content" id="settings">
    <div class="left">
        <section>
            <h1><%= i18n('header_settings', 'admin_settings', lang) %></h1>

            <div class="section-content">
                <form method="POST" action="/admin/settings/edit" class="form">
                    <% for (const [category, categoryData] of Object.entries(configMap)) { -%>
                        <fieldset>
                            <legend><%= i18n('category_' + category, 'admin_settings', lang) %></legend>

                            <% for (const [configId, configData] of Object.entries(categoryData)) { -%>
                                <div class="setting">
                                    <label for="<%= category + '_' + configId %>"><%= i18n('label_' + category + '_' + configId, 'admin_settings', lang) %></label>

                                    <% if (configData.type === 'string') { -%>
                                        <input class="relax-input" type="text" name="<%= category + '/' + configId + '' %>" id="<%= category + '_' + configId %>" value="<%= config(category, configId) %>"/>
                                    <% } else if (configData.type === 'number') { -%>
                                        <input class="relax-input" type="number" min="<%= configData.min %>" max="<%= configData.max %>" name="<%= category + '/' + configId + '' %>" id="<%= category + '_' + configId %>" value="<%= config(category, configId) %>"/>
                                    <% } else if (configData.type === 'time') { -%>
                                        <input class="relax-input" type="text" name="<%= category + '/' + configId + '' %>" id="<%= category + '_' + configId %>" value="<%= config(category, configId) %>"/>
                                    <% } else if (configData.type === 'password') { -%>
                                        <input class="relax-input" type="password" name="<%= category + '/' + configId + '' %>" id="<%= category + '_' + configId %>" value="<%= config(category, configId) %>"/>
                                    <% } else if (configData.type === 'language') { -%>
                                        <select class="relax-input" name="<%= category + '/' + configId + '' %>" id="<%= category + '_' + configId %>">
                                            <% for (const langId of availableLanguages) { %>
                                                <option value="<%= langId %>"<% __append(config(category, configId) === langId ? ' selected' : '') %>><%= i18n('language', 'meta', langId) %></option>
                                            <% } %>
                                        </select>
                                    <% } -%>
                                </div>
                            <% } -%>
                        </fieldset>
                    <% } -%>

                    <input type="submit" class="relax-button" value="<%= i18n('save_settings', 'admin_settings', lang) %>" />
                </form>
            </div>
        </section>
    </div>
</div>
