<div class="content" id="sync">
    <div class="left">
        <section id="sync-worlds">
            <h1><%= i18n('header_worlds', 'admin_sync') %></h1>

            <div class="section-content">
                <% if (!openWorlds.length) { -%>
                    <p><%= i18n('no_markets', 'admin_sync', [i18n('button_sync_world_list', 'admin_sync')]) %></p>
                <% } -%>

                <% for (let world of openWorlds) { %>
                    <div class="world relax-container vertical" id="world-<%= world.world_id %>" data-market-id="<%= world.market_id %>" data-world-number="<%= world.world_number %>">
                        <div class="short-info">
                            <div class="world-id">
                                <a href="/stats/<%= world.market_id %>/<%= world.world_number %>"><span class="flag-<%= world.market_id %>"><%= world.market_id %><%= world.world_number %><% if (!world.open) { __append(` (${i18n('closed', 'admin_sync', lang)})`) } -%></span></a>
                            </div>

                            <div class="values">
                                <div class="field">
                                    [<span class="type"><%= i18n('data_info', 'admin_sync') %></span>
                                    <span class="sync-status last-data-sync-status"><% __append(i18n(world.last_data_sync_status, 'admin_sync_status', lang) || '-') %></span>,
                                    <span class="sync-value last-data-sync-date" title="<% __append(world.last_data_sync_date ? formatDate(world.last_data_sync_date, 0, 'full', lang) : i18n('never', 'admin_sync', lang)) %>"><% __append(world.last_data_sync_date ? formatSince(world.last_data_sync_date, lang) : i18n('never', 'admin_sync', lang)) %></span>]
                                </div>

                                <div class="field">
                                    [<span class="type"><%= i18n('achievements_info', 'admin_sync') %></span>
                                    <span class="sync-status last-achievements-sync-status"><% __append(i18n(world.last_achievements_sync_status, 'admin_sync_status', lang) || '-') %></span>,
                                    <span class="sync-value last-achievements-sync-date" title="<% __append(world.last_achievements_sync_date ? formatDate(world.last_achievements_sync_date, 0, 'full', lang) : i18n('never', 'admin_sync', lang)) %>"><% __append(world.last_achievements_sync_date ? formatSince(world.last_achievements_sync_date, lang) : i18n('never', 'admin_sync', lang)) %></span>]
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <% if (world.open) { -%>
                                <% if (account.privileges[privilegeTypes.START_SYNC]) { %>
                                    <a class="sync-data relax-button<% __append(world.sync_data_active ? ' disabled' : '') %>" data-active="no" href="/admin/sync/data/<%= world.market_id %>/<%= world.world_number %>"><%= i18n('button_sync_world_data', 'admin_sync') %></a>
                                    <a class="sync-achievements relax-button<% __append(world.sync_achievements_active ? ' disabled' : '') %>" data-active="no" href="/admin/sync/achievements/<%= world.market_id %>/<%= world.world_number %>"><%= i18n('button_sync_world_achievements', 'admin_sync') %></a>
                                <% } %>

                                <% if (account.privileges[privilegeTypes.CONTROL_SYNC]) { %>
                                    <a class="sync-toggle relax-button <% __append(world.sync_enabled ? 'red' : 'green') %> right" href="/admin/sync/toggle/<%= world.market_id %>/<%= world.world_number %>"><%= i18n(world.sync_enabled ? 'button_disable_sync' : 'button_enable_sync', 'admin_sync') %></a>
                                <% } %>
                            <% } -%>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
    <div class="right">
        <% if (account.privileges[privilegeTypes.START_SYNC]) { %>
            <section id="sync-panel">
                <h1><%= i18n('header_panel', 'admin_sync') %></h1>

                <div class="section-content">
                    <div class="actions">
                        <a id="sync-world-list" class="relax-button" data-active="no" href="/admin/sync/worlds"><%= i18n('button_sync_world_list', 'admin_sync') %></a>
                        <a id="reset-sync-queue-data" class="relax-button" href="/admin/sync/queue/data/reset"><%= i18n('button_reset_data_queue', 'admin_sync') %></a>
                        <a id="reset-sync-achievements-data" class="relax-button" href="/admin/sync/queue/achievements/reset"><%= i18n('button_reset_achievements_queue', 'admin_sync') %></a>
                        <a id="sync-data-all" class="relax-button" href="/admin/sync/data/all"><%= i18n('button_sync_data_all', 'admin_sync') %></a>
                        <a id="sync-achievements-all" class="relax-button" href="/admin/sync/achievements/all"><%= i18n('button_sync_achievements_all', 'admin_sync') %></a>
                    </div>
                </div>
            </section>
        <% } %>

        <section id="sync-summary">
            <h1><%= i18n('header_summary', 'admin_sync') %></h1>

            <div class="section-content">
                <div class="summary-block">
                    <label><%= i18n('sync_data_active_worlds', 'admin_sync') %></label>
                    <span id="sync-active-data-worlds">
                        <% if (syncingWorlds.data.length) { %>
                            <% for (const worldId of syncingWorlds.data) { -%>
                                <span class="world-label" data-world-id="<%= worldId %>"><%= worldId %></span>
                            <% } -%>
                        <% } else { %>
                            <%= i18n('none', 'admin_sync') %>
                        <% } %>
                    </span>
                </div>
                <div class="summary-block">
                    <label><%= i18n('sync_data_queue', 'admin_sync') %></label>
                    <span id="sync-queue-data">
                        <% if (syncQueueTyped.data.length) { %>
                            <% for (const item of syncQueueTyped.data) { -%>
                                <span class="world-label" data-market-id="<%= item.market_id %> data-world-number="<%= item.world_number %>"><%= item.market_id + item.world_number %></span>
                            <% } -%>
                        <% } else { %>
                            <%= i18n('none', 'admin_sync') %>
                        <% } %>
                    </span>
                </div>
                <div class="summary-block">
                    <label><%= i18n('sync_achievements_active_worlds', 'admin_sync') %></label>
                    <span id="sync-active-achievement-worlds">
                        <% if (syncingWorlds.achievements.length) { %>
                            <% for (const worldId of syncingWorlds.achievements) { -%>
                                <span class="world-label" data-world-id="<%= worldId %>"><%= worldId %></span>
                            <% } -%>
                        <% } else { %>
                            <%= i18n('none', 'admin_sync') %>
                        <% } %>
                    </span>
                </div>
                <div class="summary-block">
                    <label><%= i18n('sync_achievements_queue', 'admin_sync') %></label>
                    <span id="sync-queue-achievements">
                        <% if (syncQueueTyped.achievements.length) { %>
                            <% for (const item of syncQueueTyped.achievements) { -%>
                                <span class="world-label" data-market-id="<%= item.market_id %> data-world-number="<%= item.world_number %>"><%= item.market_id + item.world_number %></span>
                            <% } -%>
                        <% } else { %>
                            <%= i18n('none', 'admin_sync') %>
                        <% } %>
                    </span>
                </div>
            </div>
        </section>
    </div>
</div>
