<div class="content" id="sync">
    <div class="left">
        <section id="sync-worlds">
            <h1><%= i18n('header_worlds', 'admin_sync', lang) %></h1>

            <div class="content-border">
                <% for (let world of openWorlds) { %>
                    <div class="world relax-container vertical" id="world-<%= world.world_id %>" data-market-id="<%= world.market %>" data-world-number="<%= world.num %>">
                        <div class="short-info">
                            <p class="world-id">
                                <span class="flag-<%= world.market %>"><%= world.market %><%= world.num %><% if (!world.open) { __append(` (${i18n('closed', 'admin_sync', lang)})`) } -%></span>
                            </p>
                            <fieldset>
                                <legend><%= i18n('data_info', 'admin_sync', lang) %></legend>
                                <p><%= i18n('last_time', 'admin_sync', lang) %> <span class="last-data-sync-date"><% __append(world.last_data_sync_date ? formatDate(world.last_data_sync_date) : i18n('never', 'admin_sync', lang)) %></span></p>
                                <p><%= i18n('last_status', 'admin_sync', lang) %> <span class="last-data-sync-status"><% __append(i18n(world.last_achievements_sync_status, 'admin_sync_status', lang) || '-') %></span></p>
                            </fieldset>
                            <fieldset>
                                <legend><%= i18n('achievements_info', 'admin_sync', lang) %></legend>
                                <p><%= i18n('last_time', 'admin_sync', lang) %> <span class="last-achievements-sync-date"><% __append(world.last_achievements_sync_date ? formatDate(world.last_achievements_sync_date) : i18n('never', 'admin_sync', lang)) %></span></p>
                                <p><%= i18n('last_status', 'admin_sync', lang) %> <span class="last-achievements-sync-status"><% __append(i18n(world.last_achievements_sync_status, 'admin_sync_status', lang) || '-') %></span></p>
                            </fieldset>
                        </div>

                        <div class="actions">
                            <% if (world.open) { -%>
                                <% if (user.privileges[privilegeTypes.START_SYNC]) { %>
                                    <a class="sync-data relax-button" data-active="no" href="/admin/sync/data/<%= world.market %>/<%= world.num %>"><%= i18n('button_sync_world_data', 'admin_sync', lang) %></a>
                                    <a class="sync-achievements relax-button" data-active="no" href="/admin/sync/achievements/<%= world.market %>/<%= world.num %>"><%= i18n('button_sync_world_achievements', 'admin_sync', lang) %></a>
                                <% } %>

                                <% if (user.privileges[privilegeTypes.CONTROL_SYNC]) { %>
                                    <a class="sync-toggle relax-button red right" href="/admin/sync/toggle/<%= world.market %>/<%= world.num %>"><%= i18n('button_disable_sync', 'admin_sync', lang) %></a>
                                <% } %>
                            <% } -%>
                        </div>
                    </div>
                <% } %>
            </div>
        </section>
    </div>
    <div class="right">
        <section id="sync-summary">
            <h1><%= i18n('header_summary', 'admin_sync', lang) %></h1>

            <div class="content-border">
                <p>
                    <label><%= i18n('sync_all_data_active', 'admin_sync', lang) %></label>
                    <span id="sync-data-all-active"><%= i18n('no', 'admin_sync', lang) %></span>
                </p>

                <p>
                    <label><%= i18n('sync_data_active_worlds', 'admin_sync', lang) %></label>
                    <span id="sync-active-data-worlds"><span class="empty"><%= i18n('none', 'admin_sync', lang) %></span></span>
                </p>

                <p>
                    <label><%= i18n('sync_all_achievements_active', 'admin_sync', lang) %></label>
                    <span id="sync-achievements-all-active"><%= i18n('no', 'admin_sync', lang) %></span>
                </p>

                <p>
                    <label><%= i18n('sync_achievements_active_worlds', 'admin_sync', lang) %></label>
                    <span id="sync-active-achievement-worlds"><span class="empty"><%= i18n('none', 'admin_sync', lang) %></span></span>
                </p>
            </div>
        </section>

        <% if (user.privileges[privilegeTypes.START_SYNC]) { %>
            <section id="sync-panel">
                <h1><%= i18n('header_panel', 'admin_sync', lang) %></h1>

                <div class="content-border">
                    <div class="actions">
                        <a id="sync-world-list" class="relax-button" data-active="no" href="/admin/sync/worlds"><%= i18n('button_sync_world_list', 'admin_sync', lang) %></a>
                    </div>
                </div>
            </section>
        <% } %>
    </div>
</div>
