<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="player">
                        <h2>Player profile</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="50%">
                                    <col width="50%">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <th>Rank:</th>
                                        <td><%= formatNumbers(player.rank) %></td>
                                    </tr>
                                    <tr>
                                        <th>Name:</th>
                                        <td><%= player.name %></td>
                                    </tr>
                                    <tr>
                                        <th>Tribe:</th>
                                        <td>
                                            <% if (tribe) { %>
                                                <a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= tribe.id %>"><%= tribe.name %> (<%= tribe.tag %>)</a>
                                            <% } else { %>
                                                No tribe
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Villages:</th>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/villages"><%= formatNumbers(player.villages) %></a></td>
                                    </tr>
                                    <tr>
                                        <th>Points:</th>
                                        <td><%= formatNumbers(player.points) %></td>
                                    </tr>
                                    <tr>
                                        <th>Bash Attack:</th>
                                        <td><%= formatNumbers(player.bash_points_off) %></td>
                                    </tr>
                                    <tr>
                                        <th>Bash Defense:</th>
                                        <td><%= formatNumbers(player.bash_points_def) %></td>
                                    </tr>
                                    <tr>
                                        <th>Average Points/Village:</th>
                                        <td><%= formatNumbers(player.points_per_villages) %></td>
                                    </tr>
                                    <tr>
                                        <th>Tribe Changes:</th>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/tribe-changes"><%= formatNumbers(tribeChangesCount) %></a></td>
                                    </tr>
                                    <tr>
                                        <th>Village Conquers:</th>
                                        <td>
                                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests"><%= formatNumbers(conquestCount) %></a>
                                            (+<a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/gain"><%= formatNumbers(conquestGainCount) %></a>
                                            -<a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/conquests/loss"><%= formatNumbers(conquestLossCount) %></a>)
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Achievement Points:</th>
                                        <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements"><%= formatNumbers(achievementPoints) %></a></td>
                                    </tr>
                                    <tr>
                                        <th>Best Rank:</th>
                                        <td><%= formatNumbers(player.best_rank) %> <small class="right"><%= formatDate(player.best_rank_date, world.time_offset, 'hours-only') %></small></td>
                                    </tr>
                                    <tr>
                                        <th>Most Points:</th>
                                        <td><%= formatNumbers(player.best_points) %> <small class="right"><%= formatDate(player.best_points_date, world.time_offset, 'hours-only') %></small></td>
                                    </tr>
                                    <tr>
                                        <th>Most Villages:</th>
                                        <td><%= formatNumbers(player.best_villages) %> <small class="right"><%= formatDate(player.best_villages_date, world.time_offset, 'hours-only') %></small></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section id="player-latest-achievements">
                        <h2>Latest achievements</h2>

                        <div class="content-border">
                            <table>
                                <colgroup>
                                    <col width="*">
                                    <col width="130px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Date/Hour</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (achievementsLatest.length) { -%>
                                        <% for (let achievement of achievementsLatest) { -%>
                                            <tr>
                                                <% if (achievement.category === 'repeatable') { -%>
                                                    <td><%= achievementTitles[achievement.type] %></td>
                                                    <td><%= formatDate(achievement.time_last_level, world.time_offset, 'day-only') %></td>
                                                <% } else { -%>
                                                    <td><%= achievementTitles[achievement.type] %></td>
                                                    <td><%= formatDate(achievement.time_last_level, world.time_offset, 'hours-only') %></td>
                                                <% } -%>
                                            </tr>
                                        <% } -%>
                                    <% } else { -%>
                                        <tr>
                                            <td colspan="2">No recent achievements.</td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements">View player's achievements</a>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
