<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <h2>Player villages</h2>
                    <table class="content-border quick-highlight">
                        <colgroup>
                            <col width="*">
                            <col width="100px">
                            <col width="100px">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Coords</th>
                                <th>Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let village of villages) { %>
                                <tr data-id="<%= village.id %>" data-highlight-type="villages">
                                    <td><a href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= village.id %>"><%= village.name %></a></td>
                                    <td><%= village.x + '|' + village.y %></td>
                                    <td><%= formatNumbers(village.points) %></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script type="text/javascript" src="/javascripts/require.js"></script>
        <script type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
