<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <ul class="achievements-menu">
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements">
                    <li <% __append(!selectedCategory ? ' class="selected"' : '') %>>Overview</li>
                </a>

                <% for (let category of Object.keys(achievementByCategory)) { -%>
                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/<%= category %>">
                        <li <% __append(category === selectedCategory ? 'class="selected"' : '') %>><%= achievementCategoryTitles[category] %></li>
                    </a>
                <% } -%>
            </ul>

            <div class="content">
                <%- include(`achievements/${categoryTemplate}.ejs`) %>
            </div>
        </main>

        <%- include('../footer.ejs') %>

        <script type="text/javascript">
            const {
                marketId,
                worldNumber
            } = <%- JSON.stringify(exportValues) %>
        </script>
    </body>
</html>
