<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <h2>Player tribe changes</h2>
                    <table class="content-border">
                        <colgroup>
                            <col width="200px">
                            <col width="*">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Date/Hour</th>
                                <th>Old tribe</th>
                                <th>New tribe</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (tribeChanges.length) { -%>
                                <% for (let change of tribeChanges) { %>
                                    <tr>
                                        <td><%= formatDate(change.date, 'hours-only') %></td>

                                        <% if (change.old_tribe) { -%>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= change.old_tribe %>"><%= tribeTags[change.old_tribe] %></a></td>
                                        <% } else { -%>
                                            <td>None</td>
                                        <% } -%>

                                        <% if (change.new_tribe) { -%>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= change.new_tribe %>"><%= tribeTags[change.new_tribe] %></a></td>
                                        <% } else { -%>
                                            <td>None</td>
                                        <% } -%>
                                    </tr>
                                <% } %>
                            <% } else { -%>
                                <tr>
                                    <td colspan="4">No tribe changes yet</td>
                                </tr>
                            <% } -%>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <%- include('../footer.ejs') %>

        <script type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
