<div class="<% __append(subCategory === 'detailed' ? 'single' : 'left') %>">
    <section id="player-achievements-repeatable">
        <h2><%= navigationTitle %><% __append(subCategory === 'detailed' ? ' (Detailed)' : '') %></h2>

        <% __append(subCategory === 'detailed' ? 'single' : 'left') %>

        <table class="content-border">
            <colgroup>
                <col width="200px">
                <col width="*">
            </colgroup>
            <thead>
                <tr>
                    <th>Name</th>
                    <th><% __append(subCategory === 'detailed' ? 'Earned on' : 'Last earned on') %></th>
                </tr>
            </thead>
            <tbody>
                <% if (achievementsRepeatable.length) { -%>
                    <% if (subCategory === 'detailed') { -%>
                        <% for (let [type, achievementDates] of Object.entries(achievementsRepeatableDetailed)) { %>
                            <tr>
                                <td><%= achievementTitles[type] %> (<%= achievementDates.length %>x)</td>
                                <td><%= achievementDates.join(', ') %></td>
                            </tr>
                        <% } %>
                    <% } else { -%>
                        <% for (let [type, count] of Object.entries(achievementsRepeatableCount)) { %>
                            <tr>
                                <td><%= achievementTitles[type] %> (<%= count %>x)</td>
                                <td><%= achievementsRepeatableLastEarned[type] || 'Never' %></td>
                            </tr>
                        <% } %>
                    <% } -%>
                <% } else { -%>
                    <tr>
                        <td colspan="2">No achievements on this category yet.</td>
                    </tr>
                <% } -%>
            </tbody>
        </table>

        <div class="actions">
            <% if (subCategory === 'detailed') { -%>
                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/repeatable">Simplified daily/weekly achievement's view</a>
            <% } else { -%>
                <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= player.id %>/achievements/repeatable/detailed">Detailed daily/weekly achievement's view</a>
            <% } -%>
        </div>
    </section>
</div>
