<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <h2>Ranking</h2>

                    <div class="content-border">
                        <%- include('ranking/' + category + '.ejs') %>
                        <%- include('../pagination.ejs') %>
                    </div>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            const {
                marketId,
                worldNumber
            } = <%- JSON.stringify(exportValues) %>
        </script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
