<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="search" class="content-border">
                        <% if (!resultsCount) { %>
                            <h3>No results</h3>
                            <a href="/stats/<%= marketId %>/<%= worldNumber %>/">Go back</a>
                        <% } else { %>
                            <%- include('search/' + category + '.ejs') %>
                            <%- include('../pagination.ejs') %>
                        <% } %>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../footer.ejs') %>
    </body>
</html>
