<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="players">
                        <h2>Tribe Members</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="5%">
                                    <col width="*">
                                    <col width="10%">
                                    <col width="10%">
                                </colgroup>

                                <thead>
                                    <th>Rank</th>
                                    <th>Name</th>
                                    <th>Points</th>
                                    <th>Villages</th>
                                </thead>

                                <tbody>
                                    <% if (!members.length) { %>
                                        <tr>
                                            <td colspan="4">This triba does not have any members</td>
                                        </tr>
                                    <% } %>

                                    <% for (let member of members) { %>
                                        <tr data-id="<%= member.id %>" data-highlight-type="players">
                                            <td><%= formatNumbers(member.rank) %></td>
                                            <td><a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= member.id %>"><%= member.name %></a></td>
                                            <td><%= formatNumbers(member.points) %></td>
                                            <td><%= formatNumbers(member.villages) %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map" class="content-border"></div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= worldNumber %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script type="text/javascript" src="/javascripts/require.js"></script>
        <script type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script type="text/javascript" src="/javascripts/utils.js"></script>
        <script type="text/javascript" src="/javascripts/map.js"></script>
        <script type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
