<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="left">
                    <section id="search">
                        <h2>Search</h2>

                        <div class="content-border">
                            <ul class="content-menu" id="search-categories">
                               <li data-search-category="players" class="selected">Players</li>
                               <li data-search-category="tribes">Tribes</li>
                               <li data-search-category="villages">Villages</li>
                            </ul>
                            <div class="wrapper">
                                <form method="POST" action="/stats/<%= marketId %>/<%= world.num %>/search/">
                                    <input type="text" id="search-input" class="input" name="query" autocomplete="off" maxlength="20" minlength="3">
                                    <input type="submit" value="Search">
                                    <input type="hidden" id="search-category" name="category" value="players">
                                </form>
                            </div>
                        </div>
                    </section>

                    <section id="tribes">
                        <h2>Tribes</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="50px">
                                    <col width="*">
                                    <col width="50px">
                                    <col width="50px">
                                    <% if (world.config && world.config.victory_points) { -%>
                                        <col width="40px">
                                    <% } -%>
                                    <col width="50px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Tribe</th>
                                        <th>Members</th>
                                        <th>Points</th>
                                        <% if (world.config && world.config.victory_points) { -%>
                                            <th title="Victory Points">VP</th>
                                        <% } -%>
                                        <th>Villages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let tribe of tribes) { %>
                                        <tr data-id="<%= tribe.id %>" data-highlight-type="tribes">
                                            <td><%= tribe.rank %></td>
                                            <td>
                                                <a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.id %>"><%= tribe.name %></a>
                                                <% if (tribe.rank < 4) { %>
                                                    <div class="top-colors"></div>
                                                <% } %>
                                            </td>
                                            <td><%= formatNumbers(tribe.members) %></td>
                                            <td><%= formatNumbers(tribe.points) %></td>

                                            <% if (world.config && world.config.victory_points) { -%>
                                                <td><%= formatNumbers(tribe.victory_points) %></td>
                                            <% } -%>

                                            <td><%= formatNumbers(tribe.villages) %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/ranking/tribes/">View complete tribes ranking</a>
                        </div>
                    </section>

                    <section id="players">
                        <h2>Players</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="50px">
                                    <col width="*">
                                    <col width="50px">
                                    <col width="50px">
                                    <% if (world.config && world.config.victory_points) { -%>
                                        <col width="40px">
                                    <% } -%>
                                    <col width="50px">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>Rank</th>
                                        <th>Player</th>
                                        <th>Tribe</th>
                                        <th>Points</th>
                                        <% if (world.config && world.config.victory_points) { -%>
                                            <th title="Victory Points">VP</th>
                                        <% } -%>
                                        <th>Villages</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let player of players) { %>
                                        <tr data-id="<%= player.id %>" data-highlight-type="players">
                                            <td><%= player.rank %></td>
                                            <td><a href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.id %>"><%= player.name %></a></td>
                                            
                                            <% if (player.tribe_id) { -%>
                                                <td><a href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= player.tribe_id %>"><%= player.tribe_tag %></a></td>
                                            <% } else { -%>
                                                <td>-</td>
                                            <% } -%>

                                            <td><%= formatNumbers(player.points) %></td>

                                            <% if (world.config && world.config.victory_points) { -%>
                                                <td><%= formatNumbers(player.victory_points) %></td>
                                            <% } -%>

                                            <td><%= formatNumbers(player.villages) %></td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/ranking/players/">View complete players ranking</a>
                        </div>
                    </section>

                    <section id="last-conquests">
                        <h2>World's last conquests</h2>

                        <div class="content-border">
                            <table class="quick-highlight">
                                <colgroup>
                                    <col width="*">
                                    <col width="5%">
                                    <col width="*">
                                    <col width="*">
                                </colgroup>

                                <thead>
                                    <th>Village</th>
                                    <th>Points</th>
                                    <th>Old owner</th>
                                    <th>New owner</th>
                                </thead>

                                <tbody>
                                    <% if (!lastConquests.length) { -%>
                                        <tr>
                                            <td colspan="5">No conquests yet.</td>
                                        </tr>
                                    <% } else { -%>
                                        <% for (let conquest of lastConquests) { %>
                                            <tr data-id="<%= conquest.village_id %>" data-highlight-type="villages">
                                                <td>
                                                    <a href="/stats/<%= marketId %>/<%= world.num %>/villages/<%= conquest.village_id %>"><%= conquest.village_name %> (<%= conquest.village_x %>|<%= conquest.village_y %>)</a>
                                                </td>
                                                <td><%= formatNumbers(conquest.village_points_then) %></td>

                                                <% if (conquest.old_owner) { -%>
                                                    <td>
                                                        <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.old_owner %>"><%= conquest.old_owner_name %></a>

                                                        <% if (conquest.old_owner_tribe_id) { -%>
                                                            <% if (conquest.old_owner_tribe_id === conquest.old_owner_tribe_id_now) { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_now %></a>]
                                                            <% } else { -%>
                                                                [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.old_owner_tribe_id %>"><%= conquest.old_owner_tribe_tag_then %></a>]
                                                            <% } -%>
                                                        <% } -%>
                                                    </td>
                                                <% } else { -%>
                                                    <td>Abandoned</td>
                                                <% } -%>

                                                <td>
                                                    <a href="/stats/<%= marketId %>/<%= worldNumber %>/players/<%= conquest.new_owner %>"><%= conquest.new_owner_name %></a>

                                                    <% if (conquest.new_owner_tribe_id) { -%>
                                                        <% if (conquest.new_owner_tribe_id === conquest.new_owner_tribe_id_now) { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_now %></a>]
                                                        <% } else { -%>
                                                            [<a href="/stats/<%= marketId %>/<%= worldNumber %>/tribes/<%= conquest.new_owner_tribe_id %>"><%= conquest.new_owner_tribe_tag_then %></a>]
                                                        <% } -%>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } %>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>

                        <div class="actions">
                            <a href="/stats/<%= marketId %>/<%= world.num %>/conquests/">View all world's conquests</a>
                        </div>
                    </section>

                    <section id="daily-players-achievements">
                        <h2>Daily player's achievements</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="25%">
                                    <col width="*">
                                </colgroup>

                                <tbody>
                                    <% if (achievements.counts.players.daily) { -%>
                                        <% for (let [type, players] of achievements.groups.players.daily) { -%>
                                            <tr>
                                                <th><%= achievementTitles[type] %>:</th>
                                                <td>
                                                    <% for (let player of players) { -%>
                                                        <a class="achievement-subject" href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.character_id %>"><%= player.player_name %></a>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } -%>
                                    <% } else { -%>
                                        <tr>
                                            <td colspan="2">No daily achievements today.</td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section id="weekly-players-achievements">
                        <h2>Weekly player's achievements</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="25%">
                                    <col width="*">
                                </colgroup>

                                <tbody>
                                    <% if (achievements.counts.players.weekly) { -%>
                                        <% for (let [type, players] of achievements.groups.players.weekly) { -%>
                                            <tr>
                                                <th><%= achievementTitles[type] %>:</th>
                                                <td>
                                                    <% for (let player of players) { -%>
                                                        <a class="achievement-subject" href="/stats/<%= marketId %>/<%= world.num %>/players/<%= player.character_id %>"><%= player.player_name %></a>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } -%>
                                    <% } else { -%>
                                        <tr>
                                            <td colspan="2">No weekly achievements.</td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section id="daily-tribes-achievements">
                        <h2>Daily tribe's achievements</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="25%">
                                    <col width="*">
                                </colgroup>

                                <tbody>
                                    <% if (achievements.counts.tribes.daily) { -%>
                                        <% for (let [type, tribes] of achievements.groups.tribes.daily) { -%>
                                            <tr>
                                                <th><%= achievementTitles[type] %>:</th>
                                                <td>
                                                    <% for (let tribe of tribes) { -%>
                                                        <a class="achievement-subject" href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.tribe_id %>"><%= tribe.tribe_tag %></a>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } -%>
                                    <% } else { -%>
                                        <tr>
                                            <td colspan="2">No daily achievements today.</td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section id="weekly-tribes-achievements">
                        <h2>Weekly tribe's achievements</h2>

                        <div class="content-border">
                            <table class="vertical">
                                <colgroup>
                                    <col width="25%">
                                    <col width="*">
                                </colgroup>

                                <tbody>
                                    <% if (achievements.counts.tribes.weekly) { -%>
                                        <% for (let [type, tribes] of achievements.groups.tribes.weekly) { -%>
                                            <tr>
                                                <th><%= achievementTitles[type] %>:</th>
                                                <td>
                                                    <% for (let tribe of tribes) { -%>
                                                        <a class="achievement-subject" href="/stats/<%= marketId %>/<%= world.num %>/tribes/<%= tribe.tribe_id %>"><%= tribe.tribe_tag %></a>
                                                    <% } -%>
                                                </td>
                                            </tr>
                                        <% } -%>
                                    <% } else { -%>
                                        <tr>
                                            <td colspan="2">No weekly achievements.</td>
                                        </tr>
                                    <% } -%>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section>
                        <h2>World statistics</h2>

                        <div class="content-border">
                            <table>
                                <tr>
                                    <td><%= formatNumbers(world.player_count) %> players</td>
                                </tr>
                                <tr>
                                    <td><%= formatNumbers(world.village_count) %> Villages</td>
                                </tr>
                                <tr>
                                    <td><%= formatNumbers(world.tribe_count) %> Tribes</td>
                                </tr>
                            </table>
                        </div>
                    </section>
                </div>

                <div class="right">
                    <section class="world-map">
                        <h2>World map</h2>

                        <div id="map-container" class="content-border">
                            <div id="map"></div>
                        </div>

                        <div class="actions">
                            <a href="/maps/<%= marketId %>/<%= world.num %>">View complete world map</a>
                        </div>
                    </section>
                </div>
            </div>
        </main>

        <%- include('../maps/tooltip.ejs') %>
        <%- include('../footer.ejs') %>

        <script sync type="text/javascript" src="/javascripts/libs/require.min.js"></script>
        <script defer type="text/javascript">define('backendValues', () => (<%- JSON.stringify(backendValues) %>))</script>
        <script defer type="text/javascript" src="/javascripts/utils.js"></script>
        <script defer type="text/javascript" src="/javascripts/map.js"></script>
        <script defer type="text/javascript" src="/javascripts/stats.js"></script>
    </body>
</html>
