<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="worlds">
                        <% for (let [label, data] of worlds) { -%>
                            <% if (data.length) { -%>
                                <div>
                                    <h2><%= label %></h2>
                                    <div>
                                        <% for (let world of data) { -%>
                                            <div class="world">
                                                <a href="/stats/<%= marketId %>/<%= world.num %>">
                                                    <div class="world-title">
                                                        <span class="flag flag-<%= marketId %>"><%= world.name %><sup><%= world.num %></sup></span>
                                                    </div>
                                                    <div class="info">
                                                        <div class="stats">
                                                            <fieldset>
                                                                <legend>Statistics:</legend>
                                                                <ul>
                                                                    <li><%= formatNumbers(world.player_count) %> players</li>
                                                                    <li><%= formatNumbers(world.tribe_count) %> tribes</li>
                                                                    <li><%= formatNumbers(world.village_count) %> villages</li>
                                                                </ul>
                                                            </fieldset>
                                                        </div>

                                                        <% if (world.config) { -%>
                                                            <div class="settings">
                                                                <fieldset>
                                                                    <legend>Settings:</legend>
                                                                    <ul>
                                                                        <li>World Type: <% __append(world.config.victory_points ? 'Victory Points' : 'Domination') %></li>
                                                                        <li>Troop relocation: <% __append(world.config.relocate_units ? 'Enabled' : 'Disabled') %></li>
                                                                    </ul>
                                                                </fieldset>
                                                            </div>
                                                        <% } -%>
                                                    </div>
                                                </a>
                                            </div>
                                        <% } -%>
                                    </div>
                                </div>
                            <% } -%>
                        <% } -%>
                    </section>
                </div>
            </div>
        </main>
    </body>
</html>
