<!DOCTYPE html>
<html lang="en">
    <%- include('../head.ejs') %>
    <body>
        <header></header>
        <%- include('../menu.ejs') %>

        <main class="content-border">
            <%- include('../navigation.ejs') %>

            <div class="content">
                <div class="single">
                    <section id="markets">
                        <% for (let market of marketStats) { -%>
                            <div class="market">
                                <a href="/maps/<%= market.id %>">
                                    <div class="market-title">
                                        <span class="flag flag-<%= market.id %>"><%= market.id.toUpperCase() %></span>
                                    </div>
                                    <div class="info">
                                        <div class="stats">
                                            <fieldset>
                                                <legend>Statistics:</legend>
                                                <ul>
                                                    <li><%= formatNumbers(market.players) %> players</li>
                                                    <li><%= formatNumbers(market.tribes) %> tribes</li>
                                                    <li><%= formatNumbers(market.villages) %> villages</li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                        <div class="worlds">
                                            <fieldset>
                                                <legend>Worlds:</legend>
                                                <ul>
                                                    <li>Open: <%= formatNumbers(market.openWorld) %></li>
                                                    <li>Closed: <%= formatNumbers(market.closedWorld) %></li>
                                                </ul>
                                            </fieldset>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        <% } -%>
                    </section>
                </div>
            </div>
        </main>
    </body>
</html>
